{#
/**
 * Available variables:
 * - image_content - the markup provided by Drupal
 * - image_caption - the caption content
 * - additional_classes - single string of additional classes
 * - additional_attributes - array of attribute,value pairs
 *  - default attributes:
 *    - class - forced default to classes array
 *    - href - defaults to '#'
 * - base_class - the base class name
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 *
 * Available blocks:
 * - image_content - used to replace the content of the image
 */
#}

{% set base_class = base_class|default('figure') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}

{% 
  set classes = [
    base_class|clean_class,
    bem_class,
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class'] %}

<figure
  class="{{ classes_to_add|trim }}"
  {% for attribute, value in additional_attributes %}
    {% if attribute not in default_attributes %}
      {{ attribute }}="{{ value }}"
    {% endif %}
  {% endfor %}
>
  {% block image_content %}
    {{ image_content }}
    {% if image_caption %}
      <figcaption class="caption">
        {{ image_caption }}
      </figcaption>
  {% endif %}
  {% endblock %}
</figure>
