.yi-feedback-form.webform-submission-form {
  label,
  legend {
    @apply text-base font-semibold;
  }

  .form-item-markup {
    @apply text-small mb-8;
  }

  textarea {
    @apply border border-primary;
  }

  .webform-type-radios {
    fieldset {
      @apply flex items-center;
    }

    input {
      @apply hidden;

      &[value="Yes"] {
        + label {
          content: url('/themes/custom/yukon_immunize/images/icons/thumbs-up-regular.svg');
        }
      }

      &[value="No"] {
        + label {
          content: url('/themes/custom/yukon_immunize/images/icons/thumbs-down-regular.svg');
        }
      }

      &:checked {
        + label {
          opacity: 1;
          filter: none;
        }
      }
    }

    label {
      @apply inline-block mt-0;
      width: 30px;
      height: 30px;
      filter: grayscale(100%);
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
        filter: none;
      }
    }
  }

  .webform-confirmation__back {
    @apply hidden;
  }
}
