<div class="grid grid-cols-2 gap-5">
  <div class="flex items-center bg-primary h-24 justify-center text-text">Primary</div>
  <div class="flex items-center bg-primaryHover h-24 justify-center text-text">PrimaryHover</div>
  <div class="flex items-center bg-secondary h-24 justify-center text-text">Secondary</div>
  <div class="flex items-center bg-secondaryHover h-24 justify-center text-text">SecondaryHover</div>
  <div class="flex items-center bg-accent h-24 justify-center text-white">Accent</div>
  <div class="flex items-center bg-text h-24 justify-center text-white">Text</div>
  <div class="flex items-center bg-white h-24 justify-center text-text">Background</div>
  <div class="flex items-center bg-highlight h-24 justify-center text-text">Highlight</div>
  <div class="flex items-center bg-warning h-24 justify-center text-text">Warning</div>
  <div class="flex items-center bg-message h-24 justify-center text-text">Message</div>
</div>
