{#
/**
 * Available variables:
 * - link_content - the content of the link (typically text)
 * - link_url - the url this link should poing to
 * - link_svg - svg contents if link should have one
 * - additional_classes - single string of additional classes
 * - additional_attributes - array of attribute,value pairs
 *  - default attributes:
 *    - class - forced default to classes array
 *    - href - defaults to '#'
 * - base_class - the base class name
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 *
 * Available blocks:
 * - link_content - used to replace the content of the link
 *     Example: to insert the image component
 */
#}
{% set base_class = base_class|default('link') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}

{%
  set classes = [
    base_class|clean_class,
    bem_class,
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class', 'href'] %}
{% set href = link_url|default('#') %}

<a
  class="inline-block bg-primary hover:bg-primaryHover focus:bg-primaryHover focus:outline-none text-white py-4 px-6 transition duration-300 ease-in-out {{ classes_to_add|trim }}"
  href="{{ href }}"
  {% for attribute, value in additional_attributes %}
    {% if attribute not in default_attributes %}
      {{ attribute }}="{{ value }}"
    {% endif %}
  {% endfor %}
>
  {% block link_content %}
    {{ link_content }}
  {% endblock %}
</a>
