{#
/**
 * Available variables:
 * - video_content - the content of the video (typically an iframe)
 *   the "|raw" filter is applied so that the iframe is rendered instead
 *   of simply passing the iframe as plain text.
 * - base_class - the base classname
 * - modifiers - array of modifiers to add to the base classname
 *   by default, videos are expected to be 16x9, include the modifier "full" to support a 4x3 video
 * - blockname - blockname prepended to the base classname
 *
 * Available blocks:
 * - video_content - used to replace the content of the video with something other than the typical iframe
 *   for example: to insert an html5 video component
 */
#}

{% set base_class = base_class|default('video') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}

{% 
  set classes = [
    base_class|clean_class,
    bem_class,
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class'] %}

<div
  class="{{ classes_to_add|trim }}"
  {% for attribute, value in additional_attributes %}
    {% if attribute not in default_attributes %}
      {{ attribute }}="{{ value }}"
    {% endif %}
  {% endfor %}  
>
  {% block video_content %}
    {{ video_content|raw }}
  {% endblock %}
</div>
