<div class="hero-bgiwt relative h-screen max-h-1080 items-stretch flex flex-col justify-center bg-gray-900 text-{{ text_color }} overflow-hidden">
  <div class="hero-bgiwt__image image absolute h-full w-full opacity-{{ image_opacity }}">
    {{ image }}
  </div>

  <div class="text-center flex-grow flex-shrink-0 py-12 px-6 flex items-center">
    <div class="container mx-auto my-0 relative w-auto -m-12 flex-grow flex-shrink">
      <div class="w-3/4 xl:w-1/2 mx-auto text-{{ text_color }}">
        {% include "@atoms/text/headings/headings.twig" with {
          heading: heading,
          heading_level: '1'
        } %}
      </div>
    </div>
  </div>
</div>