{#
/**
 * Available variables:
 * - menus{array of menus}
 *  - title{string}:                    title of the menu
 *  - items{array of menu items}
 *   - text{string}:                    text of the menu item link
 *   - url{string}:                     url of the menu item link
 * - copyright_text{string}:            copyright descriptions
 * - social_links{array of links}
 *  - svg{svg}:                         link image
 *  - url{string}                       link url
 * - background_color{enum}:            background color of the footer
 * - menu_title_color{enum}:            color of the menu title texts
 * - menu_title_capitalize{bool}:       whether the menu title texts should be capitalized
 * - menu_item_color{enum}:             color of the menu item texts
 * - menu_item_capitalize{bool}:        whether the menu item texts should be capitalized
 * - menu_spacing{enum}:                how the menu columns are spaced
 * - copyright_text_color{enum}:        color of the copyright text
 * - copyright_text_right{bool}:        whether the copyright text should be on the right side
 * - social_link_hover_effect{enum}:    hover effect of the social media links
 * - social_link_open_in_new_tab{bool}: whether the social links should open in a new tab
 */
#}

<footer class="bg-primary text-white text-semibase">
  <div id="footer-content" class="container mx-auto px-4 pb-8 pt-30">

    {# -- Logo -- #}
    <div class="mr-12 mb-15">
      {% if footer_logo %}
        <div class="w-30 h-13">
          {{ footer_logo }}
        </div>
      {% endif %}
    </div>
    {# - Footer Top - #}
    <div id="footer-top" class="flex flex-col md:flex-row pb-8">
      <div class="md:w-7/12 lg:w-4/12 xl:w-6/12">
        <div class="mr-12 mb-6 leading-7">
          {{ address }}
        </div>
        <div class="mr-12 pb-8 md:pb-0">
          {{ contact }}
        </div>
      </div>
      {# -- Footer Menus -- #}
      <div id="footer-menus" class="w-full md:w-5/12 md:pl-6 lg:w-8/12 lg:pl-11 xl:pl-2 xl:w-6/12 -mt-2">
        <div class="grid gap-0 sm:gap-x-4">
          {% for menu in menus %}
            {# --- Footer Menu --- #}
            <div class="footer-menu text-left">
              {# ---- Footer Menu Items ---- #}
              <div class="lg:col-count-2 sm:col-count-1">
                {% for item in menu.items %}
                  <a href="{{ item.url }}" class="pb-1 pt-3 w-7/12 sm:w-11/12 md:w-full block column-break-inside-avoid">
                    {{ item.text }}
                  </a>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {# - Footer Bottom - #}
    <div id="footer-bottom" class="container mx-auto mt-8 border-t border-green pt-4 pb-8 flex flex-col footer-md:flex-row footer-md:justify-between">
      {# -- Copyright Text -- #}
      {% set auto_year = 'now' | date('Y') %}
      <small class="text-small footer-md:mt-0">
        {{ copyright_text|replace({"{AUTO_YEAR}": auto_year, "{COPY_SYMBOL}": "&copy;"})|raw }}
      </small>

      {# -- Social Media Links -- #}
      <div class="space-x-6 flex ml-auto">
        {% for link in social_links %}
          <a href="{{ link.url }}" class="h-6 w-6" target="_blank" rel='noopener'>
            {{ link.svg }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
