.header-with-utlity-megamenu .link__container--level-1:hover .link--level-1,
.header-with-utlity-megamenu .link__container--level-1:focus .link--level-1 {
  @apply border-secondary border-secondary;
}

.header-with-utlity-megamenu .link__toggle-mobile {
  transition: height .5s ease;
  overflow: hidden;
}

.header-with-utlity-megamenu .link__toggle-mobile:not(.active) {
  @apply hidden;
}

.header-with-utlity-megamenu .link.is-active {
  @apply xl:border-green xl:border-b-6;
}

.header-with-utlity-megamenu .utility--mobile {
  border-bottom-width: 1px !important;
}

.language-switcher-language-url li.is-active {
  @apply hidden;
}

.language-switcher-language-url li a {
  @apply
  py-3
  font-medium
  text-secondary
  text-small
  px-12
  border-r
  border-menuGray
  hover:no-underline;
}

#block-languageswitcher-2.language-switcher-language-url li {
  @apply
    px-0
    py-3
    border-t
    border-white
    border-opacity-25
    border-transparent
    text-sm
    font-normal
    uppercase
    text-white;
}

#block-languageswitcher-2.language-switcher-language-url li a {
  @apply
    text-sm
    font-normal
    uppercase
    px-8
    text-white
    border-r-0
    sm:px-15;
}
