{#
/**
 * Available variables:
 * - table_headers - array of strings for table header content
 * - table_rows - array of objects for table row content
 *  - objects should be formatted in the following:
 *    c#: 'Cell content'
 *    For example:
 *      c1: 'This is a cell'
 * - additional_classes - single string of additional classes
 * - additional_attributes - array of attribute,value pairs
 *  - default attributes:
 *    - class - forced default to classes array
 * - base_class - the base class name
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 */
#}

{% set base_class = base_class|default('table') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}

{% 
  set classes = [
    base_class|clean_class,
    bem_class,
    'table-auto',
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class'] %}

<table
  class="{{ classes_to_add|trim }}"
  {% for attribute, value in additional_attributes %}
    {% if attribute not in default_attributes %}
      {{ attribute }}="{{ value }}"
    {% endif %}
  {% endfor %}
>
  <thead>
    <tr>
      {% for header in table_headers %}
        <th class="px-4 py-2">{{ header }}</th>  
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in table_rows %}
      <tr>
        {% for key, value in row %}
          <td class="{{ key }} border px-4 py-2">{{ value }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
