.header-with-utlity-menu .link__container--level-1:hover .link--level-1,
.header-with-utlity-menu .link__container--level-1:focus .link--level-1 {
  @apply border-secondary border-secondary;
}

.header-with-utlity-menu .link__toggle-mobile {
  transition: height .5s ease;
  overflow: hidden;
}

.header-with-utlity-menu .link__toggle-mobile:not(.active) {
  @apply hidden;
}

.header-with-utlity-menu .utility--mobile {
  border-bottom-width: 1px !important;
}
