{% set svg_search_icon %}
  <svg class="w-3 h-3 fill-current text-black" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.52">
    <defs><style>.cls-1{stroke:#000;stroke-miterlimit:10;stroke-width:0.56px;}</style></defs>
    <path class="cls-1" d="M19,17.83l-5.37-5.37a7.25,7.25,0,1,0-1.08,1.09l5.36,5.37a.39.39,0,0,0,.55,0l.54-.55A.38.38,0,0,0,19,17.83Zm-11-4.19a5.78,5.78,0,1,1,5.78-5.77A5.78,5.78,0,0,1,7.9,13.64Z"/>
  </svg>
{% endset %}

{% set svg_search_icon_mobile %}
  <svg class="w-6 h-6 p-1 fill-current text-black" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.52">
    <defs><style>.cls-1{stroke:#000;stroke-miterlimit:10;stroke-width:0.56px;}</style></defs>
    <path class="cls-1" d="M19,17.83l-5.37-5.37a7.25,7.25,0,1,0-1.08,1.09l5.36,5.37a.39.39,0,0,0,.55,0l.54-.55A.38.38,0,0,0,19,17.83Zm-11-4.19a5.78,5.78,0,1,1,5.78-5.77A5.78,5.78,0,0,1,7.9,13.64Z"/>
  </svg>
{% endset %}

{% set mobile_close_svg %}
  <svg class="h-6 w-6 p-1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
    <path d="M18.38,2.41l-16,16a1.26,1.26,0,0,1-1.78,0,1.26,1.26,0,0,1,0-1.77l16-16a1.24,1.24,0,1,1,1.76,1.76Z"/>
    <path d="M18.38,16.62l-16-16A1.26,1.26,0,0,0,.63.64a1.26,1.26,0,0,0,0,1.77l16,16a1.24,1.24,0,1,0,1.76-1.76Z"/>
  </svg>
{% endset %}

{% set mobile_button_svg %}
  <svg class="h-6 w-6 p-1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 18.48">
    <path d="M24,2.75H1.51A1.24,1.24,0,0,1,.25,1.51,1.24,1.24,0,0,1,1.51.28H24a1.24,1.24,0,1,1,0,2.47Z" transform="translate(-0.25 -0.28)"/>
    <path d="M24,10.75H1.51a1.24,1.24,0,1,1,0-2.47H24a1.24,1.24,0,1,1,0,2.47Z" transform="translate(-0.25 -0.28)"/>
    <path d="M24,18.75H1.51a1.24,1.24,0,1,1,0-2.47H24a1.24,1.24,0,1,1,0,2.47Z" transform="translate(-0.25 -0.28)"/>
  </svg>
{% endset %}

<div
  class="header-with-utlity-menu relative bg-white h-92px lg:h-auto"
  x-data="{
    mobileMenuOpen: false,
    searchOpen: false,
    searchOpenMobile: false,
    stopScrolling() {
      document.querySelector('body').classList.toggle('stop-scrolling');
      window.setTimeout(function () {
        document.querySelector('#searchFullscreenInput').focus();
      }, 0);
    },
    enableScrolling() {
      document.querySelector('body').classList.toggle('stop-scrolling');
      window.setTimeout(function () {
        document.querySelector('.search__button').focus();
      }, 0);
    },
    slideToggle() {
      let button = event.target;
      let container = event.target.nextElementSibling;
      let parentContainer = button.parentElement.parentElement;

      button.children[0].classList.toggle('hidden')
      button.children[1].classList.toggle('hidden')

      /** Slide down. */
      if(!container.classList.contains('active')) {
        /** Show the container. */
        container.classList.add('active')
        container.style.height = 'auto'

        /** Get the computed height of the container. */
        var height = container.clientHeight + 'px'

        /** Set the height of the content as 0px, */
        /** so we can trigger the slide down animation. */
        container.style.height = '0px'

        /** Do this after the 0px has applied. */
        /** It's like a delay or something. MAGIC! */
        setTimeout(() => {
          container.style.height = height;

          if (parentContainer.classList.contains('active')) {
            parentContainer.style.height = 'auto';

            setTimeout(() => {
              var parentHeight = parentContainer.children[0].offsetHeight + 'px';
              parentContainer.style.height = parentHeight;
            }, 500);
          }
        }, 0)

      /** Slide up. */
      } else {
        /** Set the height as 0px to trigger the slide up animation. */
        container.style.height = '0px'

        if (parentContainer.classList.contains('active')) {
          parentContainer.style.height = 'auto';

          setTimeout(() => {
            var parentHeight = parentContainer.children[0].offsetHeight + 'px';
            parentContainer.style.height = parentHeight;
          }, 500);
        }

        /** Remove the `active` class when the animation ends. */
        container.addEventListener('transitionend', () => {
          container.classList.remove('active')
        }, {once: true})
      }
    }
  }">

  {# SEARCH #}
  <div class="w-screen h-screen bg-primary absolute inset-0 z-20 opacity-90 flex items-center justify-center" x-show="searchOpen">
    <div class="h-5/12 flex flex-col justify-between items-center">
      {% include "@molecules/search-fullscreen/search-fullscreen.twig" with {
        form: form
      } %}

      <button class="button uppercase text-black font-poppins text-15 border-b border-black flex items-center outline-none hover:" @click="searchOpen = false; searchOpenMobile = false; enableScrolling();">
        <span class="order-1 ml-2">{{ 'Close'|t }}</span>
        <svg class="w-3 h-3 fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <path class="a" d="M10.387,104l5.386-5.386a.8.8,0,0,0,0-1.129l-1.252-1.252a.8.8,0,0,0-1.129,0l-5.386,5.387L2.621,96.232a.8.8,0,0,0-1.129,0L.241,97.483a.8.8,0,0,0,0,1.129L5.627,104,.241,109.384a.8.8,0,0,0,0,1.129l1.252,1.252a.8.8,0,0,0,1.129,0l5.386-5.387,5.386,5.386a.8.8,0,0,0,1.129,0l1.252-1.252a.8.8,0,0,0,0-1.129Z" transform="translate(-0.007 -95.998)"/>
        </svg>
      </button>
    </div>
  </div>

  {# MAIN BULK #}
  <div class="container mx-auto h-92px lg:h-auto flex justify-between lg:justify-start items-center px-4 sm:px-6 border-b lg:border-b-0 border-borderGrey">

    {# LOGO #}
    <div>
      <a href="/" class="link inline-block w-16 lg:w-32">
        {{ site_logo }}
      </a>
    </div>

    {# DESKTOP MENU #}
    <div class="container mx-auto">
      <div class="-mr-2 -my-2 flex lg:hidden justify-end items-center">

        {# MAGNIFY GLASS MOBILE #}
        <button
          class="button search__button mr-4"
          @click="mobileMenuOpen = false; searchOpenMobile = true; stopScrolling();"
          x-show="!searchOpenMobile"
          x-transition:enter="transition ease-out duration-500"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100">
          {{ svg_search_icon_mobile }}
        </button>

        {# MOBILE CLOSE BUTTON (X) #}
        <button
          class="button search__button mr-4"
          @click="searchOpenMobile = false; enableScrolling();"
          x-show="searchOpenMobile"
          x-transition:enter="transition ease-out duration-500"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100">
          {{ mobile_close_svg }}
        </button>

        {# HAMBURGER #}
        <div x-show="!mobileMenuOpen">
          <button
            class="button inline-flex items-center justify-center p-2 rounded-md hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out text-{{ menu_non_active_color_first }}"
            @click="searchOpenMobile = false; mobileMenuOpen = true"
            type="button">
            {{ mobile_button_svg }}
          </button>
        </div>

        {# MOBILE CLOSE BUTTON #}
        <div x-show="mobileMenuOpen" class="flex">
          <div>
            <button
              class="button inline-flex items-center justify-center p-2 rounded-md focus:outline-none transition duration-150 ease-in-out text-{{ menu_non_active_color_first }}"
              @click="mobileMenuOpen = false"
              type="button">
              {{ mobile_close_svg }}
            </button>
          </div>
        </div>
      </div>

      {# UTILITY MENU #}
      <div class="container mx-auto hidden lg:flex justify-end items-center">
        {% include "@molecules/utility-simple-links/utility-simple-links.twig" with {
          items: utility_menu,
          colors: {
            flyout_bg_color: flyout_bg_color,
            link_color_first_lvl: link_color_first_lvl,
            link_color_second_lvl: link_color_second_lvl
          }
        } %}

        <button
          class="button search__button mt-6 mb-8"
          @click="searchOpen = true; stopScrolling();"
          @focus="$dispatch('close-flyout');">
          {{ svg_search_icon }}
        </button>
      </div>

      {# ACTUAL DESKTOP MENU #}
      {% include "@molecules/navigation-hover-links/navigation-hover-links.twig" with {
        menu: menu,
        colors: {
          link_color_first_lvl: link_color_first_lvl,
          link_color_first_lvl_hover: link_color_first_lvl_hover,
          link_color_second_lvl: link_color_second_lvl,
          link_color_second_lvl_hov: link_color_second_lvl_hov,
          flyout_bg_color: flyout_bg_color
        }
      } %}
    </div>

    {# MOBILE MENU #}
    <div
      x-description="Mobile menu, show/hide based on mobile menu state."
      x-show="mobileMenuOpen"
      x-transition:enter="duration-200 ease-out"
      x-transition:enter-start="opacity-0 scale-95"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="duration-100 ease-in"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-95"
      class="absolute inset-x-0 top-full transition transform lg:hidden bg-primary">
      <div class="rounded-xl shadow-xl">
        <div class="rounded-xl shadow-xs">
          <div class="py-12 border-t border-b border-white border-opacity-25 divide-y divide-white divide-opacity-25">
            <div class="border-t border-white border-opacity-25">
              {# CALLING THE SAME MOLECULE BUT USING MOBILE FLAG #}
              {% include "@molecules/navigation-hover-links/navigation-hover-links.twig" with {
                menu: menu,
                colors: {
                  link_color_first_lvl: 'white',
                  link_color_first_lvl_hover: 'white',
                  link_color_second_lvl: 'white'
                },
                show_only_first: false,
                mobile: true
              } %}
            </div>
            {# UTILITY ON MOBILE #}
            <div class="utility--mobile border-b border-white border-opacity-25">
              {% include "@molecules/utility-simple-links/utility-simple-links.twig" with {
                items: utility_menu,
                mobile: true
              } %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# SEARCH MOBILE #}
  <div class="w-screen h-screen bg-primary z-20 flex items-center justify-center" x-show="searchOpenMobile">
    <div class="h-5/12 flex flex-col justify-between items-center">
      {% include "@molecules/search-fullscreen/search-fullscreen.twig" with {
        form: form,
        form_color: form_color,
        form_background_color: form_background_color
      } %}
    </div>
  </div>
</div>
