{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if configuration.label_display %}
    <h2{{ title_attributes }}>{{ configuration.label }}</h2>
  {% elseif label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if content['#field_name'] == 'title' %}
    <h1 class="mt-8 md:mt-12 mb-8">
      {{ content }}
    </h1>
  {% else %}
    {% block content %}

      <div x-data="{openTab: 1}" x-init="select2Alpine">
        <div class="container mx-auto px-4 mb-10 md:mb-20">
          <label for="tabs" class="mr-5 text-semibase text-primary">{{ 'Filter schedules for'|t }}:</label>
          <select x-ref="select" id="tabs" name="tabs" x-model="openTab">
            <option value="1" >{{ 'Adults'|t }}</option>
            <option value="2" >{{ 'Children'|t }}</option>
          </select>
        </div>

        <script>
            function select2Alpine() {
              this.select2 = jQuery(this.$refs.select).select2({'minimumResultsForSearch': 15});
              this.select2.on("select2:select", (event) => {
                this.openTab = event.target.value;
              });
              this.$watch("openTab", (value) => {
                this.select2.val(value).trigger("change");
              });
            }
        </script>

        <div>
          <div x-show="openTab == 1" class="md:flex-1 immunization-schedules-table immunization-schedules-table--adults">
            {{ content.field_for_adults }}
            <div class="container mx-auto px-4 mt-10 mb-10 immunization-schedules-notice">
              {{content.field_notices_for_table_adults }}
            </div>
          </div>
          <div x-show="openTab == 2" class="md:flex-1 mx-auto immunization-schedules-table immunization-schedules-table--children">
            {{ content.field_for_children }}
            <div class="container mx-auto px-4 mt-10 mb-10 immunization-schedules-notice">
              {{ content.field_notices_for_table_children }}
            </div>
          </div>
        </div>
      </div>

      {{ content|without('field_for_adults', 'field_notices_for_table_adults', 'field_for_children', 'field_notices_for_table_children') }}
    {% endblock %}
  {% endif %}
</div>
