<ul class="entity-moderation-form p-6 bg-gray-600 text-white rounded">
  <li class="entity-moderation-form__item current-state w-full mr-0">{{ form.current }}</li>
  <li class="entity-moderation-form__item new-state w-full mr-0">{{ form.new_state }}</li>
  <li class="entity-moderation-form__item revision-log w-full mr-0">{{ form.revision_log }}</li>
  <li class="entity-moderation-form__item moderation-submit my-4">{{ form.submit }}</li>
</ul>
{{ form|without('current', 'new_state', 'revision_log', 'submit') }}
