<div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
  <div class="relative flex-shrink-0 related-image h-64 bg-gray-300 text-white flex justify-center items-center">
    {{ image }}
  </div>
  <div class="flex-1 bg-white p-6 flex flex-col justify-between">
    <div class="flex-1">
      <p class="text-sm font-medium text-primary">
        {{ type }}
      </p>
      <p class="text-xl font-semibold text-text related-title block mt-2">
        {{ title }}
      </p>
      <p class="mt-3 text-base text-accent">
        {{ body }}
      </p>
    </div>
    <div class="mt-6 flex items-center">
      <div>
        <p class="text-sm font-medium text-text">
          {{ user }}
        </p>
        <div class="flex space-x-1 text-sm text-accent">
          <span>
            {{ date }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>