{#
/**
 * Available variables:
 * - multiselect_title - title used for label
 * - multiselect_sr_only - boolean indicating if label is meant for screen-reader only
 * - multiselect_key - appended to multiselect id
 * - multiselect.options - array of options, options must include a title
 * - additional_attributes - array of attribute,value pairs
 *  - default attributes:
 *    - class - forced default to 'form-multiselect'
 *    - name - defaults to 'multiselect-' ~ multiselect_key
 * - additional_classes - single string of additional classes
 * - base_class - the base class name
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 */
#}

{% set base_class = base_class|default('multiselect-list') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}

{% 
  set classes = [
    base_class|clean_class,
    bem_class,
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class', 'name'] %}
{% set name = additional_attributes.name|default('multiselect-' ~ multiselect_key) %}

<label class="{{ classes_to_add|trim }}">
  <span class="{{ (multiselect_sr_only == true) ? 'sr-only '}}inline-block mb-1">{{ multiselect_title }}</span>
  <select
    class="form-multiselect block"
    name="{{ name }}"
    multiple
    {% for attribute, value in additional_attributes %}
      {% if attribute not in default_attributes %}
        {{ attribute }}="{{ value }}"
      {% endif %}
    {% endfor %}
  >
    {% for multiselection in multiselect.options %}
      <option>{{ multiselection.title }}</option>
    {% endfor %}
  </select>
</label>
