{#
/**
 * @file views-tailwind-grid.html.twig
 * Default simple view template to display Tailwind Grids.
 *
 * - columns: Contains rows grouped by columns.
 * - rows: Contains a nested array of rows. Each row contains an array of columns.
 * - column_type: Contains a number (default Tailwind grid system column type).
 *
 * @ingroup views_templates
 */
#}
{%
  set classes = [
    'views-view-grid',
  ]
%}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div id="{{ id }}" {{ attributes.addClass(classes) }}>
  <div {{ row_attributes.addClass(options.row_class).addClass('grid', 'gap-4') }}>
    {% for row in rows %}
      {{ row }}
    {% endfor %}
  </div>
</div>
