.layout.reports-grid .layout__region {
  @apply lg:flex flex-wrap;
}

.layout.reports-grid .block--image-with-text {
  @apply border-b border-menuGray;
  padding-top: 30px;
  padding-bottom: 30px;
}

.layout.reports-grid .block--image-with-text:last-child {
  @apply border-0;
}

@screen lg {
  .layout.reports-grid .block--image-with-text {
    width: calc(50% - 20px);
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .layout.reports-grid .block--image-with-text:nth-child(even) {
    margin-left: 20px;
  }

  .layout.reports-grid .block--image-with-text:nth-last-child(-n+2) {
    @apply border-0;
  }
}

@media (min-width: 1300px) {
  .layout.reports-grid .layout__region {
    margin-left: -20px;
  }
}
