.hbtwi .image *:last-child {
  @apply h-full;
}

.hbtwi .image img {
  @apply w-full h-full object-cover;
}

.hbtwi .link {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
}

.hbtwi .link:hover,
.hbtwi .link:focus {
  color: var(--button-text-color-hover);
  background-color: var(--button-bg-color-hover);
}