<div
  class="hbtwi relative bg-{{ background_color }}"
  style="--button-bg-color: {{ button_bg_color }}; --button-text-color: {{ button_text_color }}; --button-text-color-hover: {{ button_text_color_hover }}; --button-bg-color-hover: {{ button_bg_color_hover }};">
  <div class="mx-auto max-w-7xl w-full pt-10 pb-10 text-center lg:text-left">
    <div class="px-4 lg:w-1/2 sm:w-1/2 px-8 xl:pr-16">
      <div class="text-{{ heading_color }}">
        {% include "@atoms/text/headings/headings.twig" with {
          heading: heading,
          heading_level: '1'
        } %}
      </div>

      <div class="mt-3 md:mt-5 max-w-md md:max-w-3xl mx-auto text-{{ body_color }}">
        {% include "@atoms/text/plain-text/plain-text.twig" with {
          text_content: body
        } %}
      </div>

      {% if links != null and links|length != 0 %}
        <div class="mt-10 flex justify-center lg:justify-start">
          {% for link in links %}
            <div class="mr-4">
              {% include "@atoms/links/link/link-button.twig" with {
                link_url: link.url,
                link_content: link.title
              } %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  
  <div class="relative sm:absolute sm:inset-y-0 sm:right-0 w-full sm:w-1/2 h-full hero-tbi-image">
    <div class="inset-0 w-full h-full image">
      {{ image }}
    </div>
  </div>
</div>