{% macro menu_links(items, attributes, menu_level, colors) %}
  {% import _self as menus %}
  {% if items %}
    {% set dropdown_open_svg %}
      <svg class="fill-current text-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.25 15.25" style="enable-background:new 0 0 15.25 15.25;" xml:space="preserve">
        <path d="M13.87,8.88H1.39c-0.69,0-1.26-0.55-1.26-1.24S0.69,6.4,1.39,6.4h12.49c0.69,0,1.26,0.55,1.26,1.24S14.57,8.88,13.87,8.88z"/>
        <path d="M8.87,1.39v12.49c0,0.69-0.55,1.26-1.24,1.26s-1.24-0.56-1.24-1.26V1.39c0-0.69,0.55-1.26,1.24-1.26S8.87,0.7,8.87,1.39z"/>
      </svg>
    {% endset %}
    {% set dropdown_close_svg %}
      <svg class="fill-current text-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.25 15.25" style="enable-background:new 0 0 15.25 15.25;" xml:space="preserve">
        <path d="M13.89,8.87H1.4c-0.69,0-1.26-0.55-1.26-1.24S0.71,6.4,1.4,6.4h12.49c0.69,0,1.26,0.55,1.26,1.24S14.58,8.87,13.89,8.87z"/>
      </svg>
    {% endset %}
    {% for item in items %}
      {% if item.below %}
        <div class="relative link__container--level-1-mobile">
          <button @click="slideToggle()" class="button--level-1 group inline-flex items-center w-full items-center text-sm leading-6 font-normal uppercase px-8 sm:px-15 py-3 border-b-2 border-transparent transition ease-in-out duration-150 text-white">
            {{ item.title }}
            <div class="w-3 h-3 ml-auto pointer-events-none">{{ dropdown_open_svg }}</div>
            <div class="hidden w-3 h-3 ml-auto pointer-events-none">{{ dropdown_close_svg }}</div>
          </button>

          <div class="link__toggle-mobile">
            <div class="bg-primaryLight py-6">
              {% set overview_text = 'Overview'|t %}
              <a href="{{ item.url }}" class="link link--level-2 block px-12 sm:px-24 sm:pl-90 py-3 space-y-1 transition ease-in-out duration-150 text-sm leading-6 font-normal uppercase border-t border-b border-white border-opacity-25 text-white">
                {{ overview_text }}
              </a>

              {% for child in item.below %}
                <a href="{{ child.url }}" class="link link--level-2 block px-12 sm:px-24 sm:pl-90 py-3 space-y-1 transition ease-in-out duration-150 text-sm leading-6 font-normal uppercase border-b border-white border-opacity-25 text-white">
                  {{ child.title }}
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% else %}
        <a href="{{ item.url }}" class="link link--level-1 px-8 sm:px-15 py-3 border-b-2 border-transparent text-sm font-normal uppercase text-white">
          {{ item.title }}
        </a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
