{% macro menu_links(items, attributes, menu_level, colors) %}
  {% import _self as menus %}
  {% if items %}
    {% for item in items %}
      {% if item.below and not show_only_first %}
        <div x-data="{ flyoutMenuOpen: false }" @close-flyout.window="flyoutMenuOpen = false" @mouseover='flyoutMenuOpen = true' @mouseover.away="flyoutMenuOpen = false" class="relative link__container--level-1">
          {{ link(item.title, item.url, {
            'class': [
              'link',
              'link--level-1',
              'group',
              'py-3',
              'mx-12',
              'inline-block',
              'font-medium',
              'text-secondary',
              'text-small',
              'transition',
              'ease-in-out',
              'duration-150',
              'border-t-4',
              'border-transparent',
              'hover:no-underline',
              'hover:border-secondary',
              'focus:border-secondary',
              'border-menuGray',
              'border-r',
              loop.index0 == 0 ? 'border-l': '',
            ],
            '@focus': "$dispatch('close-flyout'); flyoutMenuOpen = true",
            'x-state:on': 'Item active',
            'x-state:off': 'Item inactive'
          }) }}

          {% if loop.index >= 5 %}
          <div class="absolute right-0 z-10 transform translate-x-13/100 px-2 w-screen max-w-284 sm:px-0" x-description="Flyout menu, show/hide based on flyout menu state." x-show="flyoutMenuOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1">
          {% else %}
          <div class="absolute left-0 z-10 transform translate-x-13/100-negative px-2 w-screen max-w-284 sm:px-0" x-description="Flyout menu, show/hide based on flyout menu state." x-show="flyoutMenuOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1">
          {% endif %}
            <div class="shadow-lg">
              <div class="shadow-xs overflow-hidden">
                <div class="z-20 relative grid gap-0 bg-{{ colors.flyout_bg_color }} p-10">
                  {% for child in item.below %}
                    {% if not loop.last %}
                      {{ link(child.title, child.url, {
                        'class': [
                          'link',
                          'link--level-2',
                          'inline-block',
                          'mb-12',
                          'font-medium',
                          'text-secondary',
                          'text-small',
                          'border-menuGray',
                          'border-r',
                          loop.index0 == 0 ? 'border-l': '',
                          'text-' ~ colors.link_color_second_lvl,
                        ],
                      })}}
                    {% else %}
                      {{ link(child.title, child.url, {
                        'class': [
                          'link',
                          'link--level-2 inline-block',
                          'font-medium',
                          'text-secondary',
                          'text-small',
                          'border-menuGray',
                          'border-r',
                          loop.index0 == 0 ? 'border-l': '',
                          'text-' ~ colors.link_color_second_lvl
                        ],
                      })}}
                    {% endif %}

                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        {% set level_1_classes = 'inline-block py-3 px-12 font-medium text-secondary text-small' %}
        {{ link(item.title, item.url, {
          'class': [
            'link',
            'link--level-1',
            'inline-block',
            'py-3',
            'px-12',
            'font-medium',
            'text-secondary',
            'text-small',
            'border-menuGray',
            'border-r',
            loop.index0 == 0 ? 'border-l': '',
            'hover:no-underline',
            'hover:border-b',
            'border-green',
          ],
          '@focus': "$dispatch('close-flyout'); flyoutMenuOpen = !flyoutMenuOpen"
        })}}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
