{# {% import _self as menus %} #}
{# {% from _self import menus %} #}

{% if not mobile %}
{% import "@molecules/utility-simple-links/utility-simple-links-macro.twig" as menus %}
<nav class="flex items-center">
{% else %}
{% import "@molecules/utility-simple-links/utility-simple-links-macro-mobile.twig" as menus %}
<nav class="flex flex-col divide-y divide-white divide-opacity-25">
{% endif %}
  {{ menus.menu_links(items, attributes, 0, colors) }}
</nav>
