<div class="cohwt text-center bg-{{ background_color }}">
  <div class="container mx-auto px-4 py-24">
    <div class="mb-6 px-4 md:px-16 font-semibold leading-tight text-{{ heading_color }}">
      {% include "@atoms/text/headings/headings.twig" with {
        heading: heading,
        heading_level: '3'
      } %}
    </div>

    <div class="text-{{ subtext_color }}">
      {% include "@atoms/text/plain-text/plain-text.twig" with {
        text_content: subtext
      } %}
    </div>
  </div>
</div>