.cke-style-intro,
.cke_editable .cke-style-intro,
.cke_panel_listItem .cke-style-intro,
.formatted-text .cke-style-intro {
  @apply font-source-serif-pro text-primary text-heading-7-md leading-snug;
}
.cke-style-subtitle {
  @apply text-semibase text-secondary font-bold;
}
.cke_panel_listItem .cke-style-link,
.cke_editable .cke-style-link a,
.cke-style-link a {
  @apply inline-block text-semibase text-red font-medium hover:no-underline focus:no-underline  transition duration-300 ease-in-out;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.layout-builder-edit-page span[style="color:#ffffff;"],
.cke_editable span[style="color:#ffffff;"] {
  color: #E4E4E4 !important;
}

.cke_editable .cke-style-intro > a,
.formatted-text .cke-style-intro > a,
.formatted-text p > a {
  @apply underline;
}

.cke_editable .btn-default,
.formatted-text .btn-default {
  @apply inline-block bg-red text-white text-semibase font-normal font-readex-pro no-underline py-2 px-10 border border-red hover:no-underline hover:bg-orange;
}

b,
strong {
  @apply font-bold;
}

.cke_editable ul,
.field--type-text-with-summary ul,
.formatted-text ul {
  @apply list-disc list-outside pl-4 ml-3;
}

.cke_editable ol,
.field--type-text-with-summary ol,
.formatted-text ol {
  @apply list-decimal list-outside pl-4 ml-3;
}

.cke_panel_listItem .cke-style-title-bg,
.cke_editable span.cke-style-title-bg,
.formatted-text span.cke-style-title-bg {
  @apply block bg-secondary text-white font-bold text-lg pl-8 pr-28 py-2;
  line-height: 1.5;
}

.cke_panel_listItem .cke-style-title-bg,
.cke_editable span.cke-style-title-bg--inline,
.formatted-text span.cke-style-title-bg--inline {
  @apply inline-block bg-secondary text-white font-bold text-lg pl-8 pr-28 py-2;
  line-height: 1.5;
}

h1,
.formatted-text h1,
.formatted-text h4 {
  @apply text-secondary;
}

.formatted-text img {
  @apply w-full;
}

.formatted-text table {
  @apply w-full my-4 mx-0 border-collapse;
  border-spacing: 0;
}

.cke_editable table,
.cke_editable table th,
.cke_editable table td {
  @apply border border-solid border-black;
}

.cke_editable table th,
.cke_editable table td {
  @apply p-4;
}

.formatted-text table th {
  @apply py-3 px-4 text-sm font-bold leading-5 text-left uppercase tracking-wider border border-solid border-black whitespace-no-wrap;
  border-top: 0;
}

.formatted-text table th:first-child,
.formatted-text table tbody tr td:first-child {
  border-left: 0;
}

.formatted-text table th:last-child,
.formatted-text table tbody tr td:last-child {
  border-right: 0;
}

.formatted-text table td {
  @apply py-3 px-4 align-text-top text-left border border-solid border-black;
}

.formatted-text table tbody tr:last-child td {
  border-bottom: 0;
}

.formatted-text table p {
  @apply mb-3;
}

.formatted-text table p:last-child {
  @apply mb-0;
}
