.webform-submission-form {
  label {
    @apply block text-small leading-5 my-2;

    &.error {
      @apply text-red;
    }
  }

  input {
    @apply mt-2 mb-4 py-2 px-4 block w-full;
  }

  textarea {
    @apply w-full px-4;
  }

  .form-submit {
    @apply inline-block w-auto bg-red text-white text-center text-semibase font-normal font-readex-pro no-underline py-2 px-10 border border-red hover:no-underline hover:bg-orange;

    &[disabled] {
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .visually-hidden {
    @apply sr-only;
  }

  .form-item input.error {
    @apply border border-red;
  }
}
