{#
/**
 * Available variables:
 * - additional_classes - single string of additional classes
 * - additional_attributes - array of attribute,value pairs
 *  - default attributes:
 *    - class - forced default to classes array
 * - base_class - the base classname
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 *
 * Available blocks:
 * - list_content - used to replace the content of the list item
 */
#}

{% set base_class = base_class|default('ordered-list') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}

{% 
  set classes = [
    base_class|clean_class,
    bem_class,
    'list-decimal list-outside pl-4',
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class'] %}

<ol
  class="{{ classes_to_add|trim }}"
  {% for attribute, value in additional_attributes %}
    {% if attribute not in default_attributes %}
      {{ attribute }}="{{ value }}"
    {% endif %}
  {% endfor %}
>
  {% block list_content %}
    {% for ol_item in ol_items %}
      <li class="list-item">
        {% if ol_item.label %}<strong>{{ ol_item.label }}</strong>{% endif %}
        {{ ol_item.content }}
      </li>
    {% endfor %}
  {% endblock %}
</ol>
