.hero-bgiwtb img {
  @apply object-cover w-full h-full;
}

.hero-bgiwtb .hero-bgiwtb__image *:last-child:not(img) {
  @apply h-full;
}

.hero-bgiwtb .link {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
}

.hero-bgiwtb .link:hover,
.hero-bgiwtb .link:focus {
  color: var(--button-text-color-hover);
  background-color: var(--button-bg-color-hover);
}