<div
  class="hero-bgiwtb relative h-screen max-h-1080 items-stretch flex flex-col justify-center bg-gray-900 text-{{ text_color }} overflow-hidden"
  style="--button-bg-color: {{ button_bg_color }}; --button-text-color: {{ button_text_color }}; --button-text-color-hover: {{ button_text_color_hover }}; --button-bg-color-hover: {{ button_bg_color_hover }};">
  <div class="hero-bgiwtb__image absolute h-full w-full opacity-{{ image_opacity }}">
    {{ image }}
  </div>

  <div class="flex-grow flex-shrink-0 py-12 px-6 flex items-center">
    <div class="container mx-auto my-0 relative w-auto -m-12 flex-grow flex-shrink">
      <div class="w-full lg:w-3/4 xl:w-1/2 text-{{ text_color }}">
        {% include "@atoms/text/headings/headings.twig" with {
          heading: heading,
          heading_level: '1'
        } %}
      </div>

      <div class="mt-8">
        {% for button in buttons %}
          <div class="mr-4 inline-block">
            {% include "@atoms/links/link/link-button.twig" with {
              link_content: button.title,
              link_url: button.url,
            } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>