{# Content #}
{% set slides = [] %}
{% for k in content.field_grouped_items_unlimited|keys %}
  {% if not (k starts with "#") %}
    {% if 'internal' in content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link_1').getValue().0.uri %}
      {% set link = content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link_1').getValue().0.uri|replace({'internal:': ''}) %}
    {% elseif 'entity' in content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link_1').getValue().0.uri %}
      {% set node_id = content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link_1').getValue().0.uri|replace({'entity:node/': ''}) %}
      {% set link = path('entity.node.canonical', {'node': node_id}) %}
    {% else %}
      {% set link = content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link_1').getValue().0.uri %}
    {% endif %}

    {% set slides = slides|merge(
      [
        {
          heading: content.field_grouped_items_unlimited[k]['#paragraph'].get('field_plain_text_1').getValue().0.value,
          body: content.field_grouped_items_unlimited[k]['#paragraph'].get('field_long_plain_text_1').getValue().0.value,
          image: content.field_grouped_items_unlimited[k],
          link: {
          url: link,
          title: content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link_1').getValue().0.title
        },
          background_color: hex_to_tailwind(content.field_grouped_items_unlimited[k]['#paragraph'].get('field_color_1').getValue().0.color),
          heading_color: hex_to_tailwind(content.field_grouped_items_unlimited[k]['#paragraph'].get('field_color_2').getValue().0.color),
          body_color: hex_to_tailwind(content.field_grouped_items_unlimited[k]['#paragraph'].get('field_color_3').getValue().0.color),
          link_color: content.field_grouped_items_unlimited[k]['#paragraph'].get('field_color_4').getValue().0.color,
          link_background_color: content.field_grouped_items_unlimited[k]['#paragraph'].get('field_color_5').getValue().0.color
        }
      ]
    ) %}
  {% endif %}
{% endfor %}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% include "@organisms/carousel-with-full-height-content/carousel-with-full-height-content.twig" with {
      slides: slides
    } %}
  {% endblock %}
</div>
