<div class="contextual-banner relative h-screen-1/2 max-h-1080 flex items-end bg-gray-900">
  <div class="contextual-banner__image image absolute top-0 left-0 h-full w-full opacity-50">
    {{ banner }}
  </div>

  <div class="container mx-auto px-4">
    <div class="heading relative text-white mb-4">
      {% include "@atoms/text/headings/headings.twig" with {
        heading: title,
        heading_level: '1'
      } %}
    </div>
  </div>
</div>