{#
/**
 * Available variables:
 * - textfield_title - title used for label
 * - textfield_sr_only - boolean indicating if label is meant for screen-reader only
 * - textfield_key - appended to textfield id
 * - additional_attributes - array of attribute,value pairs
 *    - class - forced default to 'form-input'
 *    - name - defaults to 'textfield-' ~ textfield_key
 *    - type - defaults to 'text'
 * - additional_classes - single string of additional classes
 * - base_class - the base class name
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 */
#}

{% set base_class = base_class|default('textfield') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}
{% set additional_input_classes = additional_input_classes|default('') %}

{% 
  set classes = [
    base_class|clean_class,
    bem_class,
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class', 'name', 'type'] %}
{% set name = additional_attributes.name|default('textfield-' ~ textfield_key) %}
{% set type = additional_attributes.type|default('text') %}

<label class="{{ classes_to_add|trim }}">
  <span class="{{ (textfield_sr_only == true) ? 'sr-only '}}inline-block mb-1">{{ textfield_title }}</span>
  <input
    name="{{ name }}"
    class="form-input block {{ additional_input_classes|trim }}"
    type="{{ type }}"
    {% for attribute, value in additional_attributes %}
      {% if attribute not in default_attributes %}
        {{ attribute }}="{{ value }}"
      {% endif %}
    {% endfor %}
  >
</label>
