<div class="link-and-file-block w-full text-left">
  <div>
    {% if links %}
      <div class="mt-8 mb-8 pl-8">
      {% for link in links %}
        <div class="mt-4 lg:mt-8">
          <div class="inline link w-max flex text-semibase"
          style="--link-color: {{ link_color }}; --link-border-color: {{ link_color }}; ">
            {% include "@atoms/links/link/link.twig" with {
              link_url: link.url,
              link_content: link.title,
            } %}
          </div>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="mb-8">
    {{ file }}
  </div>
</div>
