/* Override atom color change */
.block--link-and-file-block .link {
  color: var(--link-color);
}

.block--link-and-file-block h2 {
  @apply bg-secondary text-white font-bold text-lg inline-block pl-8 pr-28 py-2;
}
