{% macro menu_links(items, attributes, menu_level, show_only_first) %}
  {% import _self as menus %}
  {% if items %}
    {% for item in items %}
      {% if item.below and not show_only_first %}
        <div class="lg:pb-4 w-39 mx-10">
            <div x-data="{ flyoutMenuOpen: false }" @close-flyout.window="flyoutMenuOpen = false" class="relative link__container--level-1 menu-icon">
              {# LEVEL 1 LINK #}
              {{ link(item.title, item.url, {
                'class': [
                  'link',
                  'link--level-1',
                  'group',
                  'inline-block',
                  'items-center',
                  'space-x-2',
                  'text-lg',
                  'leading-6',
                  'focus:outline-none',
                  'focus:no-underline',
                  'border-b-2',
                  'border-transparent',
                  'xl:hover:border-green',
                  'xl:hover:border-b-6',
                  'border-b-6',
                  'xl:focus:border-green',
                  'transition',
                  'ease-in-out',
                  'duration-150',
                  'pb-8',
                  'font-bold',
                  'hover:no-underline'
                ],
                '@mouseenter': "$dispatch('close-flyout'); flyoutMenuOpen = true",
                '@focus': "$dispatch('close-flyout'); flyoutMenuOpen = !flyoutMenuOpen",
                'x-state:on': "Item active",
                'x-state:off': "Item inactive"
              })}}

              {# FLYOUT (DROPDOWN) #}
              <div class="desktop-flyout-menu absolute z-20 left-1/2 transform -translate-x-1/2 px-2 w-screen max-w-xs sm:px-0" x-description="Flyout menu, show/hide based on flyout menu state." @mouseleave="flyoutMenuOpen = false;" x-show="flyoutMenuOpen" :class="flyoutMenuOpen ? 'flyout_open' : ''" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1">
                <div class="shadow-lg">
                  <div class="shadow-xs overflow-hidden">
                    <div class="z-20 relative grid gap-0 bg-white">
                      {% for child in item.below %}
                        <a href="{{ child.url }}" class="link link--level-2 block space-y-1 px-6 py-3 hover:bg-green hover:text-white hover:no-underline transition ease-in-out duration-150 text-base leading-6 font-medium text-primary border-transparent focus:outline-none">
                          {{ child.title }}
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% else %}
        <div class="lg:pb-4 w-39 mx-10">
          {{ link(item.title, item.url, {
            'class': [
              'link',
              'link--level-1',
              'group',
              'inline-block',
              'items-center',
              'space-x-2',
              'text-lg',
              'leading-6',
              'focus:outline-none',
              'focus:no-underline',
              'border-b-2',
              'border-transparent',
              'xl:hover:border-green',
              'xl:hover:border-b-6',
              'border-b-6',
              'xl:focus:border-green',
              'transition',
              'ease-in-out',
              'duration-150',
              'pb-8',
              'font-bold',
              'hover:no-underline'
            ],
          })}}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
