{% macro menu_links(items, attributes, menu_level, show_only_first, colors) %}
  {% import _self as menus %}
  {% if items %}
    {% set dropdown_open_svg %}
      <svg class="fill-current text-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.25 15.25" style="enable-background:new 0 0 15.25 15.25;" xml:space="preserve">
        <path d="M13.87,8.88H1.39c-0.69,0-1.26-0.55-1.26-1.24S0.69,6.4,1.39,6.4h12.49c0.69,0,1.26,0.55,1.26,1.24S14.57,8.88,13.87,8.88z"/>
        <path d="M8.87,1.39v12.49c0,0.69-0.55,1.26-1.24,1.26s-1.24-0.56-1.24-1.26V1.39c0-0.69,0.55-1.26,1.24-1.26S8.87,0.7,8.87,1.39z"/>
      </svg>
    {% endset %}
    {% set dropdown_close_svg %}
      <svg class="fill-current text-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.25 15.25" style="enable-background:new 0 0 15.25 15.25;" xml:space="preserve">
        <path d="M13.89,8.87H1.4c-0.69,0-1.26-0.55-1.26-1.24S0.71,6.4,1.4,6.4h12.49c0.69,0,1.26,0.55,1.26,1.24S14.58,8.87,13.89,8.87z"/>
      </svg>
    {% endset %}
    {% for item in items %}
      {% if item.below and not show_only_first %}


        <div class="relative link__container--level-1-mobile border-b-secondary first:border-t last:border-b">
          <button @click="slideToggle()" class="button--level-1 group inline-flex items-center w-full items-center leading-6 text-white font-extrabold text-sm uppercase px-8 sm:px-16 py-3 border-b-2 border-transparent transition ease-in-out duration-150">
            {{ item.title }}
            <div class="w-3 h-3 ml-auto pointer-events-none">{{ dropdown_open_svg }}</div>
            <div class="hidden w-3 h-3 ml-auto pointer-events-none">{{ dropdown_close_svg }}</div>
          </button>

          <div class="link__toggle-mobile bg-secondary">
            <div class="divide-y divide-white divide-opacity-50 py-3">
              {% set overview_text = 'Overview'|t %}
              <a href="{{ item.url }}" class="link--level-2 link block border-b border-b-secondary px-10 sm:px-24 py-3 space-y-1 transition ease-in-out duration-150 leading-6 text-white font-normal font-normal text-sm uppercase">
                {{ overview_text }}
              </a>

              {% for child in item.below %}
                {% if child.below %}
                  <button @click="slideToggle()" class="border-b-secondary first:border-t last:border-b pl-10 sm:pl-24 button--level-1 group inline-flex items-center w-full items-center leading-6 text-white font-normal uppercase text-sm px-16 py-3 transition ease-in-out duration-150">
                    {{ child.title }}
                    <div class="w-3 h-3 ml-auto pointer-events-none">{{ dropdown_open_svg }}</div>
                    <div class="hidden w-3 h-3 ml-auto pointer-events-none">{{ dropdown_close_svg }}</div>
                  </button>

                  <div class="link__container--level-3-mobile link__toggle-mobile bg-submenu divide-y divide-white divide-opacity-50 py-3">
                    <a href="{{ child.url }}" class="link--level-3  block border-b border-b-secondary first:border-t last:border-b pl-16 sm:pl-32 py-3 space-y-1 transition ease-in-out duration-150 leading-6 text-white font-normal text-sm uppercase">
                      {{ overview_text }}
                    </a>

                    {% for sub_child in child.below %}
                      <a href="{{ sub_child.title }}" class="link--level-3 block border-b border-b-secondary first:border-t last:border-b pl-16 sm:pl-32 py-3 space-y-1 transition ease-in-out duration-150 leading-6 text-white font-normal text-sm uppercase">
                        {{ sub_child.title }}
                      </a>
                    {% endfor %}
                  </div>

                {% else %}
                  <a href="{{ child.url }}" class="link--level-2 link block border-b border-b-secondary first:border-t last:border-b pl-10 sm:pl-24 py-3 space-y-1 transition ease-in-out duration-150 leading-6 text-white font-normal text-sm uppercase">
                    {{ child.title }}
                  </a>
                {% endif %}

              {% endfor %}
            </div>
          </div>
        </div>

        <a href="{{ item.url }}" class="link--level-1 link border-t border-t-secondary px-8 sm:px-16 py-3 lg:pt-0 lg:pb-1 text-white font-extrabold text-sm uppercase">
          {{ item.title }}
        </a>
      {% else %}
        <a href="{{ item.url }}" class="link--level-1 link border-t border-t-secondary px-8 sm:px-16 py-3 lg:pt-0 lg:pb-1 text-white font-extrabold text-sm uppercase">
          {{ item.title }}
        </a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
