{# {% import _self as menus %} #}
{# {% from _self import menus %} #}

{% set show_only_first = show_only_first|default(false) %}

{% if not mobile %}
{% import "@molecules/navigation-megamenu-links/navigation-megamenu-links-macro.twig" as menus %}
<nav class="{{ 'block--' ~ menu.base_plugin_id|replace({'_': '-'}) }} hidden lg:flex items-start justify-end space-x-10" aria-labelledby="{{ 'block-' ~ menu.id ~ '-menu' }}" id="{{ 'block-' ~ menu.id }}" @mouseleave="$dispatch('close-flyout');">
{% else %}
{% import "@molecules/navigation-megamenu-links/navigation-megamenu-links-macro-mobile.twig" as menus %}
<nav class="{{ 'block--' ~ menu.base_plugin_id|replace({'_': '-'}) ~ '-mobile' }} flex flex-col divide-y divide-white divide-opacity-25" aria-labelledby="{{ 'block-' ~ menu.id ~ '-menu-mobile' }}" id="{{ 'block-' ~ menu.id ~ '-mobile' }}" @mouseleave="$dispatch('close-flyout');">
{% endif %}
  {{ menus.menu_links(menu.items, attributes, 0, show_only_first) }}
  <h2 class="sr-only" id="{{ 'block-' ~ menu.id ~ '-menu' ~ (mobile ? '-mobile' : '') }}">{{ menu.name }}</h2>
</nav>
