{% set svg %}
  <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve">
    <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
  </svg>
{% endset %}

<form action="{{ form.form_action }}" method="{{ form.form_method }}" class="search-fullscreen lg:w-130 xl:w-158 {{ additional_classes }}" id="{{ form.form_id }}-{{ device }}">
  <div class="relative pt-2 px-4 sm:px-0">
    {% set search_placeholder = 'Keyword search'|t %}
    <span class="sr-only inline-block mb-1 text-white">{{ search_placeholder }}</span>
    <input
      name="keys"
      class="form-input block border-0 border-b rounded-none w-full px-16 bg-transparent heading-3 font-white focus:shadow-none focus:outline-none text-white border-white focus:border-white placeholder-white font-bold pb-5"
      id="searchFullscreenInput-{{ device }}"
      type="search"
      placeholder="{{ search_placeholder }}"
      maxlength="128">

    <button class="button absolute left-0 top-1/2 transform -translate-y-1/2 ml-10 sm:ml-6 lg:ml-0 mr-4 h-6 w-6" type="submit">
      {{ svg }}
    </button>
  </div>
</form>
