.header__search--input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply text-black;
  opacity: 1; /* Firefox */
}

.header__search--input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  @apply text-black;
}

.header__search--input::-ms-input-placeholder { /* Microsoft Edge */
  @apply text-black;
}

.header__search--input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}