{% set mobile_button_svg %}
  <svg class="h-6 w-6" x-description="Heroicon name: menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
  </svg>
{% endset %}

{% set mobile_close_svg %}
  <svg class="h-6 w-6" x-description="Heroicon name: x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
  </svg>
{% endset %}

<div x-data="{ mobileMenuOpen: false }" class="header-simple relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="container mx-auto flex justify-between items-center py-6">
      <div>
        <a href="/" class="link inline-block">
          {{ site_logo }}
        </a>
      </div>

      <div class="-mr-2 -my-2 xl:hidden">
        <button
          class="button inline-flex items-center justify-center p-2 rounded-md hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out text-black"
          type="button"
          @click="mobileMenuOpen = true">
          {{ mobile_button_svg }}
        </button>
      </div>
      
      {% include "@molecules/navigation-simple-links/navigation-simple-links.twig" with {
        menu: menu
      } %}

      <div class="hidden xl:flex items-center space-x-8">
        {% include "@molecules/search-simple/search-simple.twig" with {
          form: form
        } %}
      </div>
    </div>
  </div>

  <div x-description="Mobile menu, show/hide based on mobile menu state." x-show="mobileMenuOpen" x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right xl:hidden">
    <div class="rounded-xl shadow-xl">
      <div class="rounded-xl shadow-xs bg-white divide-y-2 divide-gray-50">
        <div class="pt-5 pb-6 px-5 space-y-6">
          <div class="flex items-center justify-between">
            <div>
              <a href="/" class="link inline-block">
                {{ site_logo_mobile }}
              </a>
            </div>
            <div class="-mr-2">
              <button
                class="button inline-flex items-center justify-center p-2 rounded-md focus:outline-none transition duration-150 ease-in-out text-black"
                type="button"
                @click="mobileMenuOpen = false">
                {{ mobile_close_svg }}
              </button>
            </div>
          </div>
          <div>
            {% include "@molecules/navigation-simple-links/navigation-simple-links.twig" with {
              menu: menu,
              show_only_first: true,
              mobile: true
            } %}
          </div>
        </div>
        <div class="py-6 px-5 space-y-6">
          <div class="space-y-6">
            <div class="w-full flex rounded-md shadow-sm">
              {% set form_mobile = {
                form_action: form.form_action,
                form_method: form.form_method,
                form_id: 'search-form-mobile',
                input_name: form.input_name
              } %}
              {% include "@molecules/search-simple/search-simple.twig" with {
                form: form_mobile,
                additional_classes: 'w-full'
              } %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>