<div class="cta-heading-with-button mx-auto {% if not body %}max-w-206{% endif %} my-4 relative bg-{{ bg_color }} pattern-type--{{ pattern_type }}"
  style="--link-color: {{ link_color }}; --link-color-hover: {{ link_color_hover }}; --link-bg-color: {{ link_bg_color }}; --link-bg-color-hover: {{ link_bg_color_hover }};">
  <div class="relative container mx-auto pattern-container">
    {% if body %}
      <div class="p-10 lg:p-15 lg:flex text-{{ heading_color }}">
        <div class="lg:w-5/12 lg:pr-15 xl:pr-30">
          {% include "@atoms/text/headings/headings.twig" with {
            heading: heading,
            heading_level: '4',
            additional_classes: 'mb-8',
          } %}
          {% include "@atoms/links/link/link-button.twig" with {
            link_url: link_url,
            link_content: link_text,
            additional_classes: 'min-w-button text-center text-semibase hover:no-underline focus:no-underline hover:border-transparent focus:border-transparent small-padding'
          } %}
        </div>
        <div class="lg:w-7/12 font-source-serif-pro text-heading-7-md leading-8 mt-10 lg:mt-4">
          {{ body }}
        </div>
      </div>
    {% else %}
      <div class="md:pl-10 px-6 py-12 lg:px-8 lg:py-16 flex justify-evenly items-center flex-col">
        <div class="md:w-4/5 text-center text-{{ heading_color }} my-6">
          {% include "@atoms/text/headings/headings.twig" with {
            heading: heading,
            heading_level: '3',
            additional_classes: 'heading-5',
          } %}
        </div>

        <div>
          {% include "@atoms/links/link/link-button.twig" with {
            link_url: link_url,
            link_content: link_text,
            additional_classes: 'min-w-button text-center text-semibase font-medium hover:no-underline focus:no-underline hover:border-transparent focus:border-transparent'
          } %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
