.cta-heading-with-button .link {
  color: var(--link-color);
  background-color: var(--link-bg-color);
}

.cta-heading-with-button .link.small-padding {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.cta-heading-with-button .link:hover,
.cta-heading-with-button .link:focus {
  color: var(--link-color-hover);
  background-color: var(--link-bg-color-hover);
}

.pattern-type--type1 .pattern-container {
  background: url('/themes/custom/yukon_immunize/images/bg-virus.svg') no-repeat center center;
  background-size: cover;
}

.pattern-type--type2 .pattern-container {
  background: url('/themes/custom/yukon_immunize/images/bg-molecules.svg') no-repeat center center;
  background-size: cover;
}
