{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
{{ title_prefix }}
{{ title_suffix }}

{% set x_data = (default == "open") ? "{open: true}" : "{open: false}" %}
<div x-data="{{ x_data }}">
  <dt class="text-lg">
    <button class="py-5 text-left w-full flex justify-between items-center text-gray-400 focus:outline-none" x-on:click="open = !open">
      {% set title_color = q_text_color != null ? q_text_color : "gray-900" %}
      <span class="font-bold text-secondary">
        {{ content.field_question }}
      </span>

      {% set arrow_color = arrow_color and arrow_color != "default" ? arrow_color : "red" %}
      <span class="w-4 h-4 mx-2 flex-shrink-0 text-{{ arrow_color }}" :class="open ? 'hidden' : 'show'" >
            <svg class="fill-current w-4 h-4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.25 15.25" style="enable-background:new 0 0 15.25 15.25;" xml:space="preserve">
              <path d="M13.87,8.88H1.39c-0.69,0-1.26-0.55-1.26-1.24S0.69,6.4,1.39,6.4h12.49c0.69,0,1.26,0.55,1.26,1.24S14.57,8.88,13.87,8.88z"></path>
              <path d="M8.87,1.39v12.49c0,0.69-0.55,1.26-1.24,1.26s-1.24-0.56-1.24-1.26V1.39c0-0.69,0.55-1.26,1.24-1.26S8.87,0.7,8.87,1.39z"></path>
            </svg>
          </span>
      <span class="w-4 h-4 mx-2 flex-shrink-0 text-{{ arrow_color }}" :class="open ? 'show' : 'hidden'">
            <svg class="fill-current w-4 h-4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.25 15.25" style="enable-background:new 0 0 15.25 15.25;" xml:space="preserve">
            <path d="M13.89,8.87H1.4c-0.69,0-1.26-0.55-1.26-1.24S0.71,6.4,1.4,6.4h12.49c0.69,0,1.26,0.55,1.26,1.24S14.58,8.87,13.89,8.87z"></path>
            </svg>
          </span>
    </button>
  </dt>
  <dd class="mt-6 mb-16 pr-12 grid gap-y-6 {{ two_col }}" :class="{'hidden': !open}">
    {% set text_color = a_text_color != null ? a_text_color : "primary" %}
    <div  class="text-semibase text-{{ text_color }} ">
      {{ content.body }}
    </div>
  </dd>
</div>
