.sgmpopup {
  border-radius: 0;
  box-shadow: none;
  background: #53D3D1;
  color: #0D3A65;
  padding: 30px 40px;
  width: 300px;
  text-align: left;
}

.sgmpopup-content {
  font-family: "readex pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

.sgmpopup-content strong {
  font-size: 18px;
  font-weight: 700;
  color: #0D3A65;
  line-height: 24px;
  margin-bottom: 10px;
}

.sgmpopup img {
  right: 12px !important;
  top: 12px !important;
}
