.block--location-map img {
  width: 100%;
}

.layout-builder-edit-page .leaflet-container {
  display: none !important;
}

.beautify-marker {
  background: transparent !important;
  border: 0 !important;
  display: inline-flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  margin-left: -20px !important;
  margin-top: -20px !important;
}

.beautify-marker:hover,
.beautify-marker:focus {
  width: 120px !important;
  height: 120px !important;
  background: rgba(28, 118, 143, 0.12) !important;
  margin-left: -60px !important;
  margin-top: -60px !important;
}

.beautify-marker:hover .yi-map-pin,
.beautify-marker:focus .yi-map-pin {
  width: 64px;
  height: 64px;
}

.beautify-marker:focus i,
.beautify-marker:hover i {
  width: 18px;
  height: 18px;
}

@screen md {
  .beautify-marker:hover,
  .beautify-marker:focus {
    width: 270px !important;
    height: 270px !important;
    margin-left: -135px !important;
    margin-top: -135px !important;
  }
}

.beautify-marker .yi-map-pin {
  width: 40px;
  height: 40px;
  background: rgba(83, 211, 209, 0.5);
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.beautify-marker i {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #1C768F;
}

.leaflet-popup {
  text-align: left;
  transition: none !important;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 0;
  box-shadow: none;
  background: #53D3D1;
  color: #0D3A65;
  padding: 65px 50px;
  width: 300px;
  text-align: left;
}

.leaflet-popup .leaflet-popup-tip-container {
  display: none;
}

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  border: none;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #0D3A65;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

.leaflet-popup-pane.opened .leaflet-popup {
  right: 30px;
  top: 50%;
  transform: translateY(-50%) !important;
}

.leaflet-popup-content {
  font-family: "readex pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
}

.leaflet-popup-content .location-title,
.leaflet-popup-content .location-body p strong {
  font-size: 18px;
  font-weight: 700;
  color: #0D3A65;
  line-height: 24px;
  margin-bottom: 10px;
}

.leaflet-popup-content .location-body p {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

/* Contact us block */
.block--location-map--contact-us .beautify-marker {
  width: 270px !important;
  height: 270px !important;
  background: rgba(28, 118, 143, 0.12) !important;
  margin-left: -135px !important;
  margin-top: -135px !important;
}

.block--location-map--contact-us .beautify-marker .yi-map-pin {
  width: 64px;
  height: 64px;
}

.block--location-map--contact-us .beautify-marker i {
  width: 18px;
  height: 18px;
}

.block--location-map--contact-us .leaflet-popup-close-button {
  display: none;
}

.block--location-map--contact-us .leaflet-container {
  overflow: visible !important;
}

.block--location-map--contact-us .leaflet-popup-pane.opened .leaflet-popup {
  right: 30px;
  bottom: 0;
  top: auto;
  transform: none !important;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .leaflet-container {
    overflow: visible !important;
  }

  .leaflet-popup-pane {
    transform: translateY(-100%);
  }

  .block--location-map--contact-us .leaflet-popup .leaflet-popup-content-wrapper {
    width: 100%;
  }

  .leaflet-popup-pane.opened .leaflet-popup {
    top: 50%;
    left: 0;
    transformY: translate(-50%) !important;
  }

  .block--location-map--contact-us .leaflet-popup-pane.opened .leaflet-popup {
    left: 0;
    right: auto;
  }
}

@media (min-width: 768px) {
  .leaflet-popup .leaflet-popup-content-wrapper {
    width: 400px;
    padding: 25px;
  }

  .block--location-map--contact-us  .leaflet-popup .leaflet-popup-content-wrapper {
    margin-top: -20px;
    width: 340px;
    min-height: calc(100% + 20px);
  }
}

@media (min-width: 1024px) {
  .leaflet-popup .leaflet-popup-content-wrapper {
    width: 300px;
    padding: 65px 50px;
  }

  .block--location-map--contact-us  .leaflet-popup .leaflet-popup-content-wrapper {
    width: 410px;
  }
}
