.layout-builder-edit-page .shifted-text-section {
 @apply z-0;
}

.shifted-text-section-container {
  @apply w-full;
}

.shifted-text-section .cke-style-link a {
  @apply text-primary;
}

@media (max-width: 1023px) {
  .shifted-text-section--left {
    @apply container mx-auto p-10 md:p-20;
  }

  .shifted-text-section--right {
    @apply bg-white;
  }

  .shifted-text-section-column {
    @apply container mx-auto p-10 md:p-20;
  }
}

@screen lg {
  .shifted-text-section--left {
    @apply mr-auto;
    width: calc(100% - 150px - (100% - 1024px) / 2);
    margin-top: -100px;
    padding-left: calc((100% - 1024px) / 2);
    padding-top: 250px;
    padding-bottom: 100px;
  }

  .shifted-text-section--left .shifted-text-section-container {
    padding-left: 150px;
    padding-right: 150px;
  }

  .layout-builder-edit-page .shifted-text-section--left {
   @apply mt-0;
  }

  /* Shifted to the right side */
  .shifted-text-section--right {
    @apply ml-auto;
    width: calc(100% - 16px - (100% - 1024px) / 2);
    margin-top: -100px;
    padding-right: calc((100% - 1024px) / 2);
  }

  .shifted-text-section--right .shifted-text-section-container {
    padding-left: 100px;
  }

  .shifted-text-section-column {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  .shifted-text-section--right .shifted-text-section-column:first-child {
    min-width: 250px;
  }
}

@screen xl {
  .shifted-text-section--left {
    width: calc(100% - 150px - (100% - 1280px) / 2);
    margin-top: -140px;
    padding-left: calc((100% - 1280px) / 2);
  }

  .shifted-text-section-column {
    padding-top: 290px;
    padding-bottom: 140px;
  }

  .shifted-text-section--left .shifted-text-section-container {
    padding-left: 200px;
    padding-right: 200px;
  }

  /* Shifted to the right side */
  .shifted-text-section--right {
    @apply ml-auto;
    margin-top: -160px;
    width: calc(100% - 16px - (100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
  }

  .shifted-text-section-column {
    padding-top: 250px;
    padding-bottom: 160px;
  }

  .shifted-text-section--right .shifted-text-section-column:first-child {
    min-width: 420px;
  }
}
