{{ attach_library('yukon_immunize/shifted_text_section') }}

{% set background_color = background_color ? background_color : 'green' %}

{% if shift_direction == 'left' %}
<div class="shifted-text-section shifted-text-section--{{ shift_direction }} bg-{{ background_color }} z-1-negative relative">
  <div class="shifted-text-section-container">
    <div>
      {% if heading %}
        <div class="mb-6 px-4 font-semibold leading-tight">
          {% include "@atoms/text/headings/headings.twig" with {
            heading: heading,
            heading_level: '3'
          } %}
        </div>
      {% endif %}

      <div class="text-primary">
        {% include "@atoms/text/plain-text/plain-text.twig" with {
          text_content: subtext
        } %}
      </div>
    </div>
  </div>
</div>
{% else %}
  <div class="shifted-text-section shifted-text-section--{{ shift_direction }} lg:bg-{{ background_color }} z-1-negative relative lg:flex">
    <div class="bg-white shifted-text-section-column pr-10">
      {% if heading %}
        <div class="font-bold text-secondary xs:text-heading-2-x sm:text-heading-2-sm md:text-heading-2-md lg:text-heading-2-lg">
          {{ heading }}
        </div>
      {% endif %}
    </div>

    <div class="shifted-text-section-container shifted-text-section-column bg-{{ background_color }} lg:bg-transparent">
      <div>
        <div class="text-primary">
          {% include "@atoms/text/plain-text/plain-text.twig" with {
            text_content: subtext
          } %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
