<div class="mx-8 divide-y-2 divide-gray-200">
  {% if story %}
    {% include "@molecules/search-simple/search-simple.twig" with {
      form: form,
      search_term_name: "rendered_item"
    } %}
  {% endif %}

  <div class="mb-8 pt-8">
    <div>
      <div class="inline-block">
        <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-teal-100 text-teal-800">
          {{ type }}
        </span>
      </div>
    </div>
    <div class="block mt-4">
      <a href="">
        <p class="text-xl font-semibold text-text">
          {{ title }}
        </p>
      </a>
      <p class="mt-3 text-base text-accent">
        {{ body }}
      </p>
    </div>
    <div class="mt-6 flex items-center">
      <div>
        <p class="text-sm font-medium text-gray-900">
          {{ user }}
        </p>
        <div class="flex space-x-1 text-sm text-accent">
          <p>
            {{ date }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>