.layout-builder-edit-page .block--sm-refine-results-block,
.layout-builder-edit-page .block--refine-results-block {
  display: block !important;
}

.section-search-header {
  @apply text-white pt-6;
}

.section-search-header .breadcrumb-wrapper {
  @apply mt-0;
}

.section-search-header .breadcrumb-wrapper a {
  @apply text-white border-white;
}

.section-search-header .breadcrumb-wrapper li:after,
.section-search-header .breadcrumb-wrapper li .text-secondary {
  @apply text-white;
}

.views-exposed-form.block--views-exposed-filter-block {
  @apply relative;
  margin-top: 70px;
  padding-bottom: 100px;
}

.views-exposed-form.block--views-exposed-filter-block > h2 {
  margin-bottom: 40px;
}

.views-exposed-form.block--views-exposed-filter-block .search-summary {
  @apply font-source-serif-pro text-heading-7-sm;
  margin-bottom: 70px;
}

.views-exposed-form.block--views-exposed-filter-block label,
.views-exposed-form.block--views-exposed-filter-block .form-item-type-2 {
  display: none !important;
}

.views-exposed-form.block--views-exposed-filter-block .search-box {
  @apply relative;
}

.views-exposed-form.block--views-exposed-filter-block .form-item {
  @apply m-0;
}

.views-exposed-form.block--views-exposed-filter-block .form-item input[type='text'] {
  @apply font-bold border-0 text-primary w-full;
  height: 64px;
  padding-left: 40px;
  padding-right: 100px;
  background-image: none;
}

.views-exposed-form.block--views-exposed-filter-block .form-actions {
  @apply absolute mt-0 right-0 bottom-0;
  height: 64px;
  width: 100px;
  background: url('/themes/custom/yukon_immunize/images/icons/search.svg') no-repeat center center;
}

.views-exposed-form.block--views-exposed-filter-block .form-actions input {
  @apply w-full h-full opacity-0;
}

.views-view--search-content-container .pager {
  margin-top: 70px;
}

.views-view--search-content-container .pager .pager__item {
  text-align: left !important;
}

.views-view--search-content-container .pager .pager__item a {
  @apply inline-block bg-red text-center text-white text-semibase font-normal font-readex-pro no-underline py-2 px-10 border border-red hover:no-underline hover:bg-orange;
  margin-bottom: 100px;
}

.search-results-container {
  @apply relative;
}

.search-results-container:before {
  @apply block w-full absolute top-0 left-0;
  content: '';
  height: 200px;
  z-index: 0;
  background: #53D3D1;
}

.search-results-container .layout__region--first-content {
  @apply text-white relative;
  z-index: 1;
}

.layout--twocol-section--33-67.search-results-container .layout__region--first {
  height: 200px;
}

.layout--twocol-section--33-67.search-results-container .layout__region--second {
  padding-top: 100px;
}

.block--refine-results-block {
  @apply hidden;
}

.block--refine-results-block ul {
  @apply mt-12;
}

.block--refine-results-block li,
.block--views-exposed-filter-block.block--views-exposed-filter-block .form-radios .form-item {
  @apply uppercase;
  margin: 30px 0;
}

.block--refine-results-block a,
.block--views-exposed-filter-block.block--views-exposed-filter-block label {
  @apply inline-block text-primary font-bold;
  padding: 8px 25px;
}

.block--refine-results-block a.active,
.block--views-exposed-filter-block.block--views-exposed-filter-block input:checked + label {
  @apply font-bold text-white bg-primary;
}

.block--refine-results-block a.active {
  min-width: 190px;
}

.search-results-container .layout__region--first-content h2,
.block--views-exposed-filter-block.block--views-exposed-filter-block legend {
  @apply capitalize;
}

.search-results-container .layout__region--first-content select,
.search-results-container .layout__region--first-content .select2 {
  @apply text-primary;
  max-width: 90%;
}

.block--views-exposed-filter-block.block--views-exposed-filter-block .fieldset-wrapper {
  @apply hidden;
}

.block--views-exposed-filter-block.block--views-exposed-filter-block .form-item label {
  @apply inline-block cursor-pointer;
}

.block--sm-refine-results-block {
  @apply mt-12;
}

.block--sm-refine-results-block > h2,
.block--refine-results-block > h2 {
  @apply text-primary font-bold text-lg;
}

.block--sm-refine-results-block > h2 {
  @apply mb-4;
}

.views-view--search-content-container .views-row {
  @apply border-b border-menuGray;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.views-view--search-content-container .views-row:last-child {
  @apply border-b-0 pb-0 mb-0;
}

.node--search-result .field-tags .field-container {
  @apply flex flex-wrap mt-3;
}

.node--search-result .field-tags .field-content {
  @apply mr-3 mb-3 bg-menuGray text-black px-2 text-small;
  line-height: 1.4;
}

@media (min-width: 1024px) {
  .layout--twocol-section--33-67.search-results-container .layout__region--first {
    @apply h-auto;
    padding-right: 120px;
    margin-top: 100px;
  }

  .layout--twocol-section--33-67.search-results-container .layout__region--second {
    padding-top: 200px;
    padding-right: 110px;
  }

  .search-results-container .layout__region--first-content {
    @apply sticky;
    top: 90px;
  }

  .search-results-container .layout__region--container {
    margin-top: -740px;
  }

  .search-results-container:before {
    @apply sticky;
    width: calc((100% - 1024px) / 2 + 16px + (1024px / 4) - 30px);
    height: 740px;
  }

  .block--sm-refine-results-block,
  .block--views-exposed-filter-block.block--views-exposed-filter-block .select2 {
    @apply hidden;
  }

  .block--refine-results-block,
  .block--views-exposed-filter-block.block--views-exposed-filter-block .fieldset-wrapper {
    @apply block;
  }

  .block--refine-results-block a,
  .block--views-exposed-filter-block.block--views-exposed-filter-block label {
    min-width: 130px;
  }

  .views-exposed-form.block--views-exposed-filter-block .search-box {
    max-width: 850px;
  }

  .views-view--search-content-container .pager .pager__item a {
    min-width: 212px;
    margin-bottom: 200px;
  }
}

@media (min-width: 1280px) {
  .search-results-container:before {
    width: calc((100% - 1280px) / 2 + 16px + (1280px / 4) - 30px);
  }
}
