{#
/**
 * Available variables:
 * - heading - the content of the heading (typically text)
 * - heading_level - the header level 1-6 (produces h1, h2, etc.)
 * - base_class - the base class
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 */
#}

{% set base_class = base_class|default('heading') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}

{% 
  set classes = [
    base_class|clean_class,
    bem_class,
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class'] %}

<h{{ heading_level }}
  class="{{ classes_to_add|trim }}"
  {% for attribute, value in additional_attributes %}
    {% if attribute not in default_attributes %}
      {{ attribute }}="{{ value }}"
    {% endif %}
  {% endfor %}
>
  {{ heading }}
</h{{ heading_level }}>
