h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

.heading-1,
h1 {
  @apply
  text-heading-1-xs
  sm:text-heading-1-sm
  md:text-heading-1-md
  lg:text-heading-1-lg
}
.heading-2,
h2 {
  @apply
  text-heading-2-xs
  sm:text-heading-2-sm
  md:text-heading-2-md
  lg:text-heading-2-lg
}
.heading-3,
h3 {
  @apply
  text-heading-3-xs
  sm:text-heading-3-sm
  md:text-heading-3-md
  lg:text-heading-3-lg
}
.heading-4,
h4 {
  @apply
  text-heading-4-xs
  sm:text-heading-4-sm
  md:text-heading-4-md
  lg:text-heading-4-lg
}
.heading-5,
h5 {
  @apply
  text-heading-5-xs
  sm:text-heading-5-sm
  md:text-heading-5-md
  lg:text-heading-5-lg
}
.heading-6,
h6 {
  @apply
  text-heading-6-xs
  sm:text-heading-6-sm
  md:text-heading-6-md
  lg:text-heading-6-lg
}

.summary-paragraph {
  @apply
  text-summary-xs
  sm:text-summary-sm
  md:text-summary-md
  lg:text-summary-lg
}
