/* ----------------- GLOBAL APPLIES ----------------- */

/* -------------------------------------------------- */

/* ----------------- STATUS MESSAGES ----------------- */
body:not(.layout-builder-edit-page) .layout-content > div > .status-message--container .status-message,
body:not(.layout-builder-edit-page) .layout-content > div > .status-message--container .warning-message,
body:not(.layout-builder-edit-page) .layout-content > div > .status-message--container .error-message,
body:not(.layout-builder-edit-page) .layout-content > div > .status-message--container .info-message {
  @apply container mx-auto px-4;
}

.layout-content > div > .status-message--container .status-message,
#layout-builder .status-message--container .status-message {
  @apply bg-message p-4 rounded-full text-gray-900 font-medium text-center my-4;
}

.layout-content > div > .status-message--container .warning-message,
#layout-builder .status-message--container .warning-message {
  @apply bg-warning p-4 rounded-full text-gray-900 font-medium text-center my-4;
}

.layout-content > div > .status-message--container .info-message,
#layout-builder .status-message--container .info-message {
  @apply bg-highlight p-4 rounded-full text-gray-900 font-medium text-center my-4;
}

.layout-content > div > .status-message--container .error-message,
#layout-builder .status-message--container .error-message {
  @apply p-4 rounded-full text-gray-900 font-medium text-center my-4;
  background: #feb2b2;
}
/* --------------------------------------------------- */

/* ----------------- LOCAL TASKS BLOCK ----------------- */
.block--local-tasks-block > ul {
  @apply flex flex-wrap;
}

.block--local-tasks-block > ul li {
  @apply mb-2 py-2 px-4 rounded cursor-pointer;
  background-color: #2980b9;
  border: 0;
}

.block--local-tasks-block > ul li a {
  @apply text-white;
}

body:not(.layout-builder-edit-page) .block--local-tasks-block {
  @apply container mx-auto px-4;
}

body:not(.layout-builder-edit-page) .block--local-tasks-block > ul li {
  @apply mr-2;
}
/* ----------------------------------------------------- */

/* ----------------- MODERATION CONTROL ----------------- */
.entity-moderation-form .new-state select {
  @apply w-full text-black;
}

.entity-moderation-form .revision-log input {
  @apply w-full border rounded text-black p-2;
}

.entity-moderation-form .moderation-submit input {
  @apply m-0 px-4 py-2 border rounded-full bg-primary cursor-pointer;
}

.entity-moderation-form .entity-moderation-form__item > .form-item {
  @apply my-2;
}
/* ------------------------------------------------------ */

/* ----------------- PAGE TITLE BLOCK ----------------- */
body:not(.layout-builder-edit-page) .block--page-title-block {
  @apply container mx-auto my-5 px-4;
}
/* ---------------------------------------------------- */

/* ----------------- VIDEO MEDIA ----------------- */
.video-wrapper {
  @apply relative h-full w-full;
  padding-bottom: 56.25%;
}

.video-wrapper iframe,
.video-wrapper video {
  @apply absolute top-0 left-0 w-full h-full;
}
/* ----------------------------------------------- */

/* ----------------- BANNER FIELD ----------------- */
.field--field-banner.block--field-block img,
.block--entity-block > .media--image img {
  @apply object-cover object-center w-full max-h-vh-50;
}
/* ------------------------------------------------ */

/* ----------------- SECTION LIBRARY ----------------- */
#drupal-off-canvas .section-library-links li {
  @apply border-b border-white py-4;
}

#drupal-off-canvas .section-library-links li .section-library-link-img {
  @apply w-full h-48 object-cover mb-2;
}
/* --------------------------------------------------- */
