/* Base Styles */
@layer base {
  /* Add base style overwrites here.  I.e. 'body' or 'h1'. */
  body {
    @apply font-readex-pro text-primary leading-7;
  }
  br {
    @apply block mb-1;
  }

  header {
    @apply relative z-10;
  }
}
