.big-green-section {
  @apply relative;
  padding-top: 50px;
}

.big-green-section .layout__region--first {
  @apply lg:pr-2/12;
}

.big-green-section .layout__region--second {
  @apply lg:pl-1/12 lg:flex lg:items-center relative;
}

.big-green-section .layout__region--second .block--basic {
  @apply bg-secondary relative z-1 text-white;
  padding: 40px 60px 30px 40px;
}

.big-green-section .layout__region--second .block--basic h3 {
  line-height: 1.2;
}

.big-green-section .layout__region--second .block--basic .btn {
  min-width: 200px;
}

@media (max-width: 1023px) {
  .big-green-section.containerize-content > .layout__region--container {
    @apply max-w-full px-0;
  }

  .big-green-section .layout__region--first {
    @apply container mx-auto px-4 pb-20;
  }

  .big-green-section .layout__region--second {
    @apply text-center py-20;
  }

  .big-green-section .layout__region--second:before {
    @apply absolute h-full w-full left-0 top-0;
    content: '';
    background: url('/themes/custom/yukon_immunize/images/big-green-section-bg.png') repeat;
  }

  .big-green-section .layout__region--second .block--basic {
    @apply inline-block mx-auto text-left;
    width: 406px;
  }
}

@media (max-width: 767px) {
  .big-green-section .layout__region--second .block--basic {
    width: 317px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .big-green-section .layout__region--first {
    max-width: 550px;
  }
}

@screen lg {
  .big-green-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .big-green-section:before {
    @apply block absolute h-full right-0 left-auto top-0 z-0;
    content: '';
    background: url('/themes/custom/yukon_immunize/images/big-green-section-bg.png') repeat;
    width: 43%;
  }

  .big-green-section .layout__region--second .block--basic {
    padding: 75px 75px 55px 75px;
  }
}

@screen xl {
  .big-green-section {
    padding-top: 115px;
    padding-bottom: 115px;
  }

  .big-green-section:before {
    width: 44.5%;
  }

  .big-green-section .layout__region--second {
    padding-left: 105px;
  }

  .big-green-section .layout__region--second .block--basic {
    padding: 75px 95px 55px 75px;
  }
}
