/**
  Thin: 100
  ExtraLight: 200
  Light: 300
  Regular: 400
  Medium: 500
  SemiBold: 600
  Bold: 700
  ExtraBold: 800
  Black: 900
 */
/* Readex Pro Font */
@font-face {
  font-family: 'readex pro';
  src:url('../fonts/readex-pro/static/ReadexPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'readex pro';
  src:url('../fonts/readex-pro/static/ReadexPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'readex pro';
  src:url('../fonts/readex-pro/static/ReadexPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'readex pro';
  src:url('../fonts/readex-pro/static/ReadexPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'readex pro';
  src:url('../fonts/readex-pro/static/ReadexPro-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'readex pro';
  src:url('../fonts/readex-pro/static/ReadexPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* source-serif-pro */
@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'source serif pro';
  src: url('../fonts/source-serif-pro/SourceSerifPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'source serif pro';
  src:url('../fonts/source-serif-pro/SourceSerifPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

