/* ----------------- GLOBAL GENERAL STYLING ----------------- */
:root {
  --black: #000;
  --white: #FFF;
  --primary: #38B2AC;
  --secondary: #AA1D29;
  --accent: #333333;
  --highlight: #90CDF4;
  --warning: #FAF089;
  --error: #FEB2B2;
  --message: #9AE6B4;
}

.stop-scrolling {
  @apply h-full overflow-hidden;
}

.lb-not-in-use main {
  @apply container mx-auto px-4;
}
/* ---------------------------------------------------------- */

.status-message--container {
  @apply container px-4 mx-auto mb-4;
}

.faq-exposed-filter form {
  @apply my-8 text-semibase;
}

.faq-exposed-filter .select2-container,
.faq-exposed-filter select {
  @apply w-87;
  height: 30px;
}
.faq-exposed-filter .select2-selection.select2-selection--single {
  height: 20px;
}
.faq-exposed-filter form label {
  @apply mr-8;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  @apply text-primary;
}
.select2-container--default .select2-selection--single {
  @apply border-0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #E60F5E transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #E60F5E transparent
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: initial;
  @apply text-primary;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: initial;
}
.faq-exposed-filter select option {
  @apply  px-2 py-2;
}
