/* ----------------- GLOBAL OVERRIDES ----------------- */
.visually-hidden {
  @apply invisible;
}

.color-field-widget-box-form button {
  width: 1rem !important;
  height: 1rem !important;
  margin-right: .5rem !important;
}

.color-field-widget-box-form button.color_field_widget_box__square.active {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.color-field-widget-box-form .color_field_widget_box__square--transparent {
  background-image: url('../images/icons/transparent_box16.gif') !important;
  background-repeat: no-repeat;
  background-size: contain;
}

.color-field-widget-box-form .color_field_widget_box__square--transparent.active {
  background-image: url('../images/icons/transparent_box32.gif') !important;
  width: 2rem !important;
  height: 2rem !important;
}

.layout-builder-edit-page .ui-dialog .ui-dialog-content {
  position: static !important;
}

.layout-builder-edit-page .ui-dialog .ui-dialog-content input.form-submit {
  margin: 0.5em 0.4em 0.5em 0;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  padding: 0.4em 1em;
  display: inline-block;
  position: relative;
  line-height: normal;
  margin-right: 0.1em;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  overflow: visible;
}

.media-library-widget-modal img {
  min-height: 50px;
}

.diff-header {
  @apply container mx-auto px-4;
}

.diff-controls {
  @apply container mx-auto mt-8 px-4;
}

.diff-navigation {
  @apply w-full;
}

.diff-navigation label, .diff-revision label, .diff-controls__item label {
  @apply font-bold;
  @apply text-3xl;
}

.diff-navigation__link a, .diff-revision__item a {
  color: blue;
  text-decoration: underline;
}

.diff-revision {
  @apply w-full;
}

.diff-controls .diff-controls__item {
  display: inline-block;
  @apply w-1/2;
}

.diff-controls .diff-controls__item .dropbutton-wrapper{
  display: flex;
}

.diff-controls .diff-controls__item .dropbutton-wrapper .dropbutton-widget .dropbutton-arrow {
  border-top-color: black;
}

.diff-controls .diff-controls__item .dropbutton-multiple.open .dropbutton-arrow {
  border-top-color: transparent;
}

.maintenance-page {
  @apply container mx-auto my-64 px-6 md:px-32 bg-gray-500;
}

.maintenance-page .dialog-off-canvas-main-canvas {
  @apply inline-flex
}

.maintenance-page .dialog-off-canvas-main-canvas header h1{
  @apply text-base mt-4;
}

.maintenance-page .dialog-off-canvas-main-canvas header a img{
  @apply duration-300 ease-in-out h-12 hover:shadow mx-auto rounded-full transition w-auto;
}

.maintenance-page .dialog-off-canvas-main-canvas main{
  @apply container mx-auto px-10 md:px-40;
}

.maintenance-page .dialog-off-canvas-main-canvas main h1{
  @apply font-bold text-3xl mb-4;
}

/* ---------------------------------------------------- */
