<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% include "@organisms/image-with-text/image-with-text.twig" with {
      heading: content.field_plain_text_1[0]["#context"].value,
      body: content.field_form_long_sum_text_1|field_value,
      image: content.field_image[0],
      link: {
        title: content.field_text_link[0]["#title"], 
        url: content.field_text_link[0]["#url"].toString()
      },
      button_text_color: content.field_link_text_color.0['#markup'],
      image_position: content.field_image_position["#items"].getString(),
      image_fit: content.field_image_fit|field_value[0]['#markup']
    } %}
  {% endblock %}
</div>