{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% set menu_machine_name = (content.field_menu.0['#plain_text']) ? content.field_menu.0['#plain_text'] : content.field_menu['#cache'].tags.0|split('.')[2] %}
{% set utility_menu_machine_name = (content.field_utility_menu.0['#plain_text']) ? content.field_utility_menu.0['#plain_text'] : content.field_utility_menu['#cache'].tags.0|split('.')[2] %}

{% set menu = drupal_menu(
  menu_machine_name,
  content.field_menu_initial_level.0['#markup'],
  content.field_menu_depth.0['#markup'],
  content.field_menu_expand.0['#markup']
) %}

{% set utility_depth = 1 %} {# Change if Utility menu needs child links to render #}
{% set utility_menu = drupal_menu(utility_menu_machine_name, 1, utility_depth, true) %}

{% set search = content.field_search_block.0['#options'].entity.get('settings') %}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}

    {% set logo %}
      <img class="w-44" src="/themes/custom/yukon_immunize/images/logo.svg" alt="Site logo">
    {% endset %}

    {% set logo_mobile %}
      <img class="w-32" src="/themes/custom/yukon_immunize/images/logo.svg" alt="Site logo">
    {% endset %}

    {% include "@organisms/header-with-utility-megamenu/header-with-utility-megamenu.twig" with {
      site_logo: logo,
      site_logo_mobile: logo_mobile,
      menu: {
        name: menu['#menu_name'],
        id: menu['#menu_name'],
        base_plugin_id: menu['#menu_name'],
        items: menu['#items']
      },
      utility_menu: utility_menu['#items'],
      form: {
        form_action: search.search_url,
        form_method: 'GET',
        form_id: search.block_id,
        input_name: search.search_parameter,
      }
    } %}

  {% endblock %}
</div>
