.node-type-diseases_vaccines .layout.diseases-intro-section h1 {
  @apply mt-0;
}

.node-type-diseases_vaccines .layout.diseases-intro-section .breadcrumb-wrapper {
  @apply mt-6;
}

.layout.diseases-intro-section .block--link-and-file-block {
  @apply px-10 lg:px-0 pt-0;
}

/* View */
.diseases-and-vaccines-view .views-field-view-node {
  @apply mb-20;
}

.diseases-and-vaccines-view .views-field-view-node a {
  @apply hover:no-underline;
}

.diseases-and-vaccines-view .views-field-title {
  @apply text-lg text-secondary font-bold mt-10 mb-8;
}

.diseases-and-vaccines-view .views-field-description {
  @apply text-semibase leading-7;
}

.diseases-and-vaccines-view .media--image .field-content {
  height: 260px;
}

.diseases-and-vaccines-view .media--image .field-content img {
  @apply block w-full h-full object-cover;
}

/* Responsive styles */
@media (max-width: 1023px) {
  .node-type-diseases_vaccines .layout.diseases-intro-section {
    @apply container mx-auto px-4;
  }

  .node-type-diseases_vaccines .layout.diseases-intro-section > .layout__region--container > .layout__region--first {
    @apply mb-10;
  }
}

@screen lg {
  .node-type-diseases_vaccines .layout.diseases-intro-section {
    margin-top: -130px;
  }

  .node-type-diseases_vaccines.layout-builder-edit-page .layout.diseases-intro-section {
    margin-top: 0;
  }

  .node-type-diseases_vaccines .layout.diseases-intro-section > .layout__region--container > .layout__region--first {
    padding-top: 130px;
    padding-left: calc((100% - 1024px) / 2 + 16px);
    padding-right: 70px;
  }

  .node-type-diseases_vaccines .layout.diseases-intro-section > .layout__region--container > .layout__region--second {
    padding-top: 270px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: calc((100% - 1024px) / 2 + 16px);
  }
}

@screen xl {
  .node-type-diseases_vaccines .layout.diseases-intro-section > .layout__region--container > .layout__region--first {
    width: calc(100% - 560px);
    padding-left: calc((100% - 1280px) / 2 + 16px);
    padding-right: 140px;
  }

  .node-type-diseases_vaccines .layout.diseases-intro-section > .layout__region--container > .layout__region--second {
    width: 560px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: calc((100% - 1280px) / 2 + 16px);
  }

  .node-type-diseases_vaccines .layout.diseases-intro-section .block--link-and-file-block h2 {
    min-width: 320px;
  }
}
