{% set links = [] %}
{% for k in content.field_multiple_links|keys %}
  {% if not (k starts with "#") %}
    {% set links = links|merge([{"title": content.field_multiple_links[k]["#title"], "url": content.field_multiple_links[k]["#url"].toString()}]) %}
  {% endif %}
{% endfor %}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% include "@organisms/hero-text-button-with-image/hero-text-button-with-image.twig" with {
      heading: content.field_plain_text_1[0]["#context"].value,
      body: content.field_long_plain_text_1[0]["#context"].value,
      image: content.field_image[0],
      links: links,
      background_color: hex_to_tailwind(content.field_section_background_color.0['#markup']),
      heading_color: hex_to_tailwind(content.field_color_1.0['#markup']),
      body_color: hex_to_tailwind(content.field_color_2.0['#markup']),
      button_bg_color: content.field_link_background_color.0['#markup'],
      button_text_color: content.field_link_text_color.0['#markup'],
      button_bg_color_hover: content.field_link_bg_color_hover.0['#markup'],
      button_text_color_hover: content.field_link_text_color_hover.0['#markup']
    } %}
  {% endblock %}
</div>