{#
/**
 * Available variables:
 * - checkbox_title - the content of the checkbox (typically text)
 * - checkbox_checked - 'checked' if meant to be checked, otherwise leave blank
 * - checkbox_key - string appended to the input id
 * - additional_attributes - array of attribute,value pairs
 *  - default attributes:
 *    - class - forced default to 'form-checkbox'
 *    - name - defaults to 'checkbox-' ~ checkbox_key
 * - additional_classes - single string of additional classes
 * - base_class - the base class name
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 */
#}

{% set base_class = base_class|default('checkbox-item') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}

{% 
  set classes = [
    base_class|clean_class,
    bem_class,
    'inline-flex items-center',
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class', 'name'] %}
{% set name = additional_attributes.name|default('checkbox-' ~ checkbox_key) %}

<label class="{{ classes_to_add|trim }}">
  <input
    name="{{ name }}"
    type="checkbox"
    class="form-checkbox"
    {% if checkbox_checked %}checked="{{ checkbox_checked }}"{% endif %}
    {% for attribute, value in additional_attributes %}
      {% if attribute not in default_attributes %}
        {{ attribute }}="{{ value }}"
      {% endif %}
    {% endfor %}
  >
  <span class="ml-2">{{ checkbox_title }}</span>
</label>