{#
/**
 * @file
 * Default theme implementation for a three-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--threecol-section',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="layout__region--container">
      {% if content.first %}
        <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
          {{ content.first }}
        </div>
      {% else %}
        <div class="layout__region layout__region--first">
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
          {{ content.second }}
        </div>
      {% else %}
        <div class="layout__region layout__region--second">
          {{ content.second }}
        </div>
      {% endif %}

      {% if content.third %}
        <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third') }}>
          {{ content.third }}
        </div>
      {% else %}
        <div class="layout__region layout__region--third">
          {{ content.third }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
