{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--twocol-section',
  ]
%}

{% set layout_inner_content_custom_classes = settings['layout_inner_content_custom_classes'] %}

{% if content %}
  <div{{ attributes.addClass(classes).removeClass(layout_inner_content_custom_classes) }}>
    <div class="layout__region--container {{ layout_inner_content_custom_classes }}">
      {% if content.first %}
        <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
          {{ content.first }}
        </div>
      {% else %}
        <div class="layout__region layout__region--first">
          <div class="layout__region--first-content">
            {{ content.first }}
          </div>
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
          {{ content.second }}
        </div>
      {% else %}
        <div class="layout__region layout__region--second">
          {{ content.second }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
