.image-with-text {
  min-height: 142px;
}

.image-with-text .image *:last-child {
  width: 195px;
  height: 142px;
}

.image-with-text .image img {
  @apply w-full h-full;
  object-fit: var(--image-fit);
}

.image-with-text .link {
  @apply inline-block whitespace-no-wrap text-semibase text-red border-b-2 border-current font-medium hover:no-underline focus:no-underline hover:border-transparent focus:border-transparent transition duration-300 ease-in-out;
}

@screen lg {
  .image-with-text .image-container {
    width: 45%;
  }

  .image-with-text .text-container {
    width: 55%;
  }
}

