
<div
  class="image-with-text relative bg-{{ background_color }}"
  style="--button-text-color: {{ button_text_color }};">
  {% set position = image_position == null or image_position == "right" ? "right" : "left" %}
  <div class="relative w-full lg:absolute lg:inset-y-0 lg:{{ position }}-0 lg:h-full image-container">
    <div class="image lg:absolute inset-0 w-full h-full" style="--image-fit: {{ image_fit }};">
      {{ image }}
    </div>
  </div>
  {% set justify = image_position == null or image_position == "right" ? "start" : "end" %}
  <div class="mt-10 lg:mt-0 mx-auto w-full lg:flex justify-{{ justify }}">
    <div class="text-container xl:pr-8">
      <div class="text-secondary font-bold text-xl">
        {{ heading }}
      </div>

      {% if body %}
      <div class="mt-3 md:mt-5 max-w-md md:max-w-3xl mx-auto text-{{ body_color }}">
        {% include "@atoms/text/wysiwyg/wysiwyg.twig" with {
          wysiwyg_content: body
        } %}
      </div>
      {% endif %}

      {% if link %}
      <div class="mt-6">
        {% include "@atoms/links/link/link.twig" with {
          link_url: link.url,
          link_content: link.title,
        } %}
      </div>
      {% endif %}
    </div>
  </div>

</div>
