{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set faqs = [] %}
{% for k in content.field_grouped_items_unlimited|keys %}
  {% if not (k starts with "#") %}
    {% set faqs = faqs|merge(
      [
        {
          "q": content.field_grouped_items_unlimited[k]['#paragraph'].get('field_heading_long').getValue().0.value,
          "a": content.field_grouped_items_unlimited[k]
        }
      ]
    ) %}
  {% endif %}
{% endfor %}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% include "@organisms/faq-block/faq-block.twig" with {
      title: content.field_plain_text_1[0]["#context"].value,
      subtext: content.field_long_plain_text_1[0]["#context"].value,
      checkbox: content.field_boolean_1["#items"].getString(),
      faqs: faqs,
      title_color: hex_to_tailwind(content.field_color_1.0['#markup']),
      subtext_color: hex_to_tailwind(content.field_color_2.0['#markup']),
      q_text_color: hex_to_tailwind(content.field_color_3.0['#markup']),
      a_text_color: hex_to_tailwind(content.field_color_4.0['#markup']),
      arrow_color: hex_to_tailwind(content.field_color_5.0['#markup'])
    } %}
  {% endblock %}
</div>
