.fade {
  @apply transition duration-500 ease-in-out transform;
}
.fade:hover {
  @apply opacity-75
}
.slide-up {
  @apply transition duration-500 ease-in-out transform;
}
.slide-up:hover {
  @apply -translate-y-1
}
.slide-down {
  @apply transition duration-500 ease-in-out transform;
}
.slide-down:hover {
  @apply translate-y-1
}
.expand {
  @apply transition duration-500 ease-in-out transform;
}
.expand:hover {
  @apply translate-y-0 scale-105
}
.shadow {
  @apply transition duration-500 ease-in-out transform;
}
.shadow:hover {
  @apply shadow-xl
}
