<div class="transition">
  <div class="grid grid-cols-2 gap-5">
    {% for transition in transitions %}
      <div class="flex items-center bg-primary h-24 justify-center text-text {{ transition.name|lower|replace({' ':'-'}) }} {{ transition.name|lower|replace({' ':'-'}) }}:hover">{{ transition.name }}</div>
    {% endfor %}
  </div>
</div>
