.layout-builder-edit-page {
  --lb-white: #fff;
  --lb-black: #000;
  --lb-link-add: #686868;
  --lb-local-tasks: #2980b9;
  --lb-form-bg: #2d2d2d;
  --lb-form-error: #c0392b;
  --lb-category-bg: #444;
  --lb-category-bg-hover: #222;
  --lb-focus-outline: #5e9ed6;
  --lb-button-grey: #777;
  --lb-font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
  --right-panel-width: 45rem;
  --left-panel-width: 21rem;
}

.layout-builder-edit-page .layout-builder-block {
  padding: 0;
  background-color: inherit;
}

.layout-builder-edit-page .layout-builder__link--add {
  color: var(--link-add);
}

.layout-builder-edit-page .js-form-type-checkbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.layout-builder-edit-page .js-form-type-checkbox .description {
  width: 100%;
}

#layout-builder-modal input[type="checkbox"] {
  width: 1em;
  margin-right: .5rem;
}

.layout-builder-edit-page .layout-container > header {
  display: none;
}

.layout-builder-edit-page .layout-content > div {
  margin-top: 58vh;
}

.layout-builder-edit-page .layout-content > div > * {
  width: 100%;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: width .7s ease;
  transition-delay: .1s;
}

.layout-builder-edit-page.js-off-canvas-dialog-open .layout-content > div > * {
  width: 100%;
}

.layout-builder-edit-page .layout-content .block--page-title-block {
  margin-top: 1rem;
}

.layout-builder-edit-page .layout-content .block--local-tasks-block {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.layout-builder-edit-page .layout-content .block--local-tasks-block > ul {
  display: flex;
  flex-wrap: wrap;
}

.layout-builder-edit-page .layout-content .block--local-tasks-block > ul > li {
  padding: .5rem 1rem;
  background-color: var(--lb-local-tasks);
  color: var(--lb-white);
  border-radius: 5px;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.layout-builder-edit-page .layout-content .block--system-main-block {
  padding: 2rem;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form {
  position: absolute;
  left: 0;
  top: 4.875rem; /* 78px */
  height: auto;
  width: 100%;
  padding-bottom: 1rem;
  background-color: var(--lb-form-bg);
  color: var(--lb-white);
  transition: left .7s ease;
  transition-delay: .1s;
}

.layout-builder-edit-page.toolbar-tray-open .layout-content .block--system-main-block .layout-builder-form {
  top: 4.875rem; /* 78px */
}

.layout-builder-edit-page.js-off-canvas-dialog-open .layout-content .block--system-main-block .layout-builder-form {
  left: calc(var(--right-panel-width) * -1); /* -336px */
}

.layout-builder-edit-page.js-off-canvas-dialog-open > .ui-dialog-off-canvas.ui-dialog-position-side {
  width: var(--right-panel-width) !important; /* 336px */
  left: initial !important;
  right: 0 !important;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form > .form-actions {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 0;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form > .form-actions > input {
  width: 100%;
  margin-bottom: .5rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: var(--lb-local-tasks);
  border: 0;
  cursor: pointer;
}

input.form-submit[id^='edit-layout-builder-save-and-edit-layout'] {
  display: none;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form > .form-actions > input[id^='edit-layout-builder-save-and-edit-layout'] {
  display: block;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form > .form-actions #edit-preview-toggle {
  margin: 1rem 0;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form > .form-actions #edit-preview-toggle .form-item-toggle-content-preview input {
  margin-bottom: 0;
  margin-right: 1rem;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form > .field--name-moderation-state {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form > .field--name-moderation-state .form-wrapper {
  padding: 1rem;
  border: 1px solid var(--lb-white);
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form > .field--name-moderation-state .form-wrapper .form-item-moderation-state-0-current {
  margin-bottom: .5rem;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form > .field--name-moderation-state .form-wrapper .form-item-moderation-state-0-current label {
  font-weight: bold;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form > .field--name-moderation-state .form-wrapper select {
  width: 100%;
  margin-top: .5rem;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .layout-builder__message {
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .js-form-type-vertical-tabs .vertical-tabs {
  margin: 0;
  border: 0;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .js-form-type-vertical-tabs .vertical-tabs .vertical-tabs__menu,
.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .js-form-type-vertical-tabs .entity-content-form-revision-information > summary {
  display: none;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .js-form-type-vertical-tabs .vertical-tabs .vertical-tabs__panes {
  width: 100%;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .js-form-type-vertical-tabs .vertical-tabs .vertical-tabs__panes .form-item-revision {
  display: flex;
  flex-wrap: wrap;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .js-form-type-vertical-tabs .entity-content-form-revision-information .form-item-revision {
  display: flex;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid var(--lb-white);
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .js-form-type-vertical-tabs .vertical-tabs .vertical-tabs__panes .form-item-revision input,
.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .js-form-type-vertical-tabs .entity-content-form-revision-information .form-item-revision input {
  margin-right: 1rem;
}

.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .js-form-type-vertical-tabs .vertical-tabs .vertical-tabs__panes .form-item-revision .description,
.layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form .js-form-type-vertical-tabs .entity-content-form-revision-information .form-item-revision .description {
  width: 100%;
  margin-top: .5rem;
}

.layout-builder-edit-page #drupal-off-canvas input,
.layout-builder-edit-page #drupal-off-canvas select,
.layout-builder-edit-page #drupal-off-canvas .cke {
  border-radius: 5px;
}

.layout-builder-edit-page #drupal-off-canvas select,
.layout-builder-edit-page #drupal-off-canvas .cke,
.layout-builder-edit-page #drupal-off-canvas .form-number {
  width: 100%;
}

.layout-builder-edit-page #drupal-off-canvas input[type="color"] {
  height: 1.875rem; /* 30px */
  width: 2.8125rem; /* 45px */
}

.layout-builder-edit-page #drupal-off-canvas input[type="radio"] + label,
.layout-builder-edit-page #drupal-off-canvas input[type="checkbox"] + label {
  font-family: var(--lb-font-family);
}

.layout-builder-edit-page #drupal-off-canvas.ui-dialog-content input:focus,
.layout-builder-edit-page #drupal-off-canvas.ui-dialog-content select:focus,
.layout-builder-edit-page #drupal-off-canvas.ui-dialog-content button:focus {
  box-shadow: 0 0 1pt 1pt var(--lb-focus-outline);
}

.layout-builder-edit-page #drupal-off-canvas .form-wrapper,
.layout-builder-edit-page #drupal-off-canvas .fieldset-wrapper,
.layout-builder-edit-page #drupal-off-canvas .form-item {
  font-family: inherit;
  width: 100%;
}

.layout-builder-edit-page #drupal-off-canvas .form-item-settings-admin-label {
  display: block;
  margin: 1rem 0;
  color: var(--lb-white);
}

.layout-builder-edit-page #drupal-off-canvas .form-item-settings-admin-label label,
.layout-builder-edit-page #drupal-off-canvas .form-item-settings-label {
  display: block;
}

.layout-builder-edit-page #drupal-off-canvas.ui-dialog-content .js-form-type-checkbox,
.layout-builder-edit-page #drupal-off-canvas.ui-dialog-content .js-form-type-radio {
  display: flex;
  align-items: center;
}

.layout-builder-edit-page #drupal-off-canvas.ui-dialog-content .js-form-type-checkbox input,
.layout-builder-edit-page #drupal-off-canvas.ui-dialog-content .js-form-type-radio input {
  display: inline-block;
  margin-right: 1rem;
}

.layout-builder-edit-page #drupal-off-canvas .form-item-reusable {
  margin: 3rem 0 2rem;
  padding: 1rem;
  border: 1px solid var(--lb-white);
  border-radius: 10px;
  flex-wrap: wrap;
}

.layout-builder-edit-page #drupal-off-canvas .form-item-reusable .description {
  margin-top: 1rem;
}

.layout-builder-edit-page #drupal-off-canvas .media-library-selection {
  margin: 1rem 0;
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item--grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  background: var(--lb-category-bg);
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item--grid > .js-form-type-number {
  order: -1;
  margin: .75rem 0;
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item--grid > .js-form-type-number input {
  width: 100%;
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item--grid:not(:first-child) {
  margin-top: 1rem;
  border-top: 1px solid var(--lb-white);
  padding: 1rem 0;
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item--grid::before {
  border: 0;
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item--grid article {
  overflow: hidden;
  border-radius: 10px;
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item--grid img {
  width: 100%;
  max-height: 15.625rem; /* 250px */
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item__preview {
  padding-bottom: 2.6875rem; /* 43px */
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item--grid:not(:first-child) .media-library-item__preview {
  padding-bottom: 1.6875rem; /* 27px */
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item__attributes {
  background: var(--lb-link-add);
  width: 100%;
  max-width: 100%;
  padding: 5px 1rem;
  border-radius: 0 0 10px 10px;
}

.layout-builder-edit-page #drupal-off-canvas .media-library-item__name {
  display: block;
  margin: .5rem 0;
  color: var(--lb-white);
  font-family: var(--lb-font-family);
  font-size: .875rem; /* 14px */
}

.layout-builder-edit-page #drupal-off-canvas .media-library-widget-empty-text {
  display: inline-block;
}

.layout-builder-edit-page #drupal-off-canvas .draggable td:first-child {
  width: 3.125rem; /* 50px */
}

.layout-builder-edit-page #drupal-off-canvas .draggable td:not(:first-child) {
  padding-right: 1rem;
}

.layout-builder-edit-page #drupal-off-canvas .draggable input {
  width: 100%;
}

.layout-builder-edit-page #drupal-off-canvas .draggable .delta-order {
  width: 5rem; /* 80px */
}

.layout-builder-edit-page #drupal-off-canvas div[id*='add-more-wrapper--'] {
  width: 100vw;
  max-width: 30rem;
  margin: 2rem 0 2rem -20px;
  padding: 0 1rem;
  background-color: var(--lb-form-bg);
  border-bottom: 1px solid var(--lb-white);
  border-top: 1px solid var(--lb-white);
}

.layout-builder-edit-page #drupal-off-canvas div[id*='add-more-wrapper--'] > div {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.layout-builder-edit-page #drupal-off-canvas .tabledrag-toggle-weight-wrapper {
  order: 1;
  padding: 0;
}

.layout-builder-edit-page #drupal-off-canvas .tabledrag-toggle-weight,
.layout-builder-edit-page #drupal-off-canvas .media-library-widget__toggle-weight {
  width: 100%;
  color: var(--lb-white);
  background: var(--lb-link-add);
  padding: 4px 1.25rem; /* 4px 20px */
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
}

.layout-builder-edit-page #drupal-off-canvas .tabledrag-toggle-weight:hover,
.layout-builder-edit-page #drupal-off-canvas .tabledrag-toggle-weight:focus,
.layout-builder-edit-page #drupal-off-canvas .media-library-widget__toggle-weight:hover,
.layout-builder-edit-page #drupal-off-canvas .media-library-widget__toggle-weight:focus {
  color: var(--lb-white);
}

.layout-builder-edit-page #drupal-off-canvas .field-add-more-submit {
  margin-top: 2rem;
}

.layout-builder-edit-page #drupal-off-canvas legend {
  margin-bottom: .5rem;
}

.layout-builder-edit-page #drupal-off-canvas .form-search {
  width: 100%;
  margin: 1rem 0;
  font-family: var(--lb-font-family);
}

.layout-builder-edit-page #drupal-off-canvas .block-categories details {
  width: auto;
  padding: 0;
}

.layout-builder-edit-page #drupal-off-canvas .block-categories summary {
  width: 100%;
  margin: 0;
  background-color: var(--lb-category-bg);
  padding: 15px 20px;
}

.layout-builder-edit-page #drupal-off-canvas .block-categories summary:hover,
.layout-builder-edit-page #drupal-off-canvas .block-categories summary:focus,
.layout-builder-edit-page #drupal-off-canvas .block-categories summary:active {
  background-color: var(--lb-category-bg-hover);
}

.layout-builder-edit-page #drupal-off-canvas.ui-dialog-content .layout-builder-browser-block-item {
  display: block;
  margin: 1rem 1.25rem !important; /* 16px 20px */
  background-color: var(--lb-white);
  overflow: hidden;
  border-radius: 5px;
  color: var(--lb-form-bg);
  font-weight: 600;
  line-height: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.layout-builder-edit-page #drupal-off-canvas.ui-dialog-content .layout-builder-browser-block-item img {
  @apply object-cover;

  height: 8.75rem; /* 140px */
  width: 100%;
  background-color: var(--lb-white);
  border-bottom: 1px solid var(--lb-category-bg);
}

.layout-builder-edit-page #drupal-off-canvas.ui-dialog-content .error-message > div {
  color: var(--lb-white);
  font-family: var(--lb-font-family);
  background-color: var(--lb-form-error);
  width: 100%;
  display: block;
  padding: .625rem; /* 10px */
  border-radius: .625rem; /* 10px */
  margin-top: 1rem;
}

.layout-builder-edit-page #drupal-off-canvas .field-group-fieldset {
  padding: 1rem;
  border: 1px solid var(--lb-white);
  border-radius: 10px;
  overflow: hidden;
}

.layout-builder-edit-page #drupal-off-canvas .field-group-fieldset > legend .fieldset-legend {
  margin: 0 .5rem;
  font-weight: bold;
}

.layout-builder-edit-page #drupal-off-canvas .field-group-fieldset .field-group-tab,
.layout-builder-edit-page #drupal-off-canvas .field-group-fieldset .field-group-tab summary {
  width: 100vw;
  max-width: calc(var(--right-panel-width) - 2rem);
}

.layout-builder-edit-page #drupal-off-canvas .field-group-fieldset .field-group-tab summary {
  border-left: 1px solid var(--lb-white);
  border-right: 1px solid var(--lb-white);
  margin: 0 -1.0625rem; /* 0 -17px */
}

.layout-builder-edit-page #drupal-off-canvas .paragraphs-dropdown .paragraphs-dropdown-toggle {
  background: var(--lb-button-grey);
  border-radius: 25px;
  text-align: center;
  padding: .25rem;
  width: 145px;
}

.layout-builder-edit-page #drupal-off-canvas .paragraphs-dropdown .paragraphs-dropdown-toggle span {
  position: static !important;
  opacity: 1;
  letter-spacing: 0;
}

.layout-builder-edit-page #drupal-off-canvas .draggable .paragraphs-actions .paragraphs-icon-button-collapse,
.layout-builder-edit-page #drupal-off-canvas .draggable .paragraphs-actions .paragraphs-icon-button-edit {
  width: 50%;
}

.layout-builder-edit-page #drupal-off-canvas .paragraphs-dropdown .paragraphs-dropdown-actions {
  background: var(--lb-form-bg);
  border: 0;
  box-shadow: none;
  padding: .5rem;
  top: 33px;
}

.layout-builder-edit-page #drupal-off-canvas .paragraphs-subform .field--type-entity-reference .form-wrapper,
.layout-builder-edit-page #drupal-off-canvas .paragraphs-subform .field--type-entity-reference .tabledrag-toggle-weight {
  margin-top: 1rem;
}

.layout-builder-edit-page #drupal-off-canvas .paragraphs-subform .field--type-entity-reference .form-wrapper.container-inline {
  margin-top: 2rem;
}

.layout-builder-edit-page #drupal-off-canvas .paragraphs-subform .field--type-entity-reference .form-wrapper.container-inline select {
  margin-bottom: 1rem;
}

.layout-builder-revert-page .layout-content,
.layout-builder-discard-changes-page .layout-content {
  margin-top: 2rem;
}

.layout-builder-revert-page .layout-content > div,
.layout-builder-discard-changes-page .layout-content > div {
  @apply container mx-auto;
  margin-top: 5rem;
}

.layout-builder-revert-page .layout-content > div > *,
.layout-builder-discard-changes-page .layout-content > div > * {
  width: 100%;
  margin-right: auto;
}

.layout-builder-revert-page .layout-content #edit-actions,
.layout-builder-discard-changes-page .layout-content #edit-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: .5rem;
}

.layout-builder-revert-page .layout-content #edit-actions input,
.layout-builder-discard-changes-page .layout-content #edit-actions input,
.layout-builder-revert-page .layout-content #edit-actions a,
.layout-builder-discard-changes-page .layout-content #edit-actions a {
  margin-top: 0;
  width: auto;
  margin-right: .5rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: var(--lb-local-tasks);
  color: var(--lb-white);
}

.layout-builder-edit-page .ui-dialog.ui-widget-content {
  width: 90% !important;
}

@media only screen and (min-width: 377px) {
  .layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form,
  .layout-builder-edit-page.toolbar-tray-open .layout-content .block--system-main-block .layout-builder-form {
    top: 2.4375rem; /* 39px */
  }
}

@media only screen and (min-width: 576px) {
  .layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form,
  .layout-builder-edit-page.toolbar-tray-open .layout-content .block--system-main-block .layout-builder-form {
    top: 4.875rem; /* 78px */
  }
}

@media only screen and (min-width: 706px) {
  .layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form,
  .layout-builder-edit-page.toolbar-tray-open .layout-content .block--system-main-block .layout-builder-form {
    top: 2.4375rem; /* 39px */
  }
}

@media only screen and (min-width: 976px) {
  .layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form {
    top: 2.4375rem; /* 39px */
  }

  .layout-builder-edit-page.toolbar-tray-open .layout-content .block--system-main-block .layout-builder-form {
    top: 4.875rem; /* 78px */
  }
}

@media only screen and (min-width: 1280px) {
  .layout-builder-edit-page .layout-content .block--system-main-block .layout-builder-form {
    position: fixed;
    width: var(--left-panel-width); /* 336px */
    height: 100vh;
    padding-bottom: 0;
  }

  .layout-builder-edit-page.toolbar-tray-open .layout-content .block--system-main-block .layout-builder-form {
    top: 4.9375rem; /* 79px */
  }

  .layout-builder-edit-page .layout-content > div {
    margin-top: 0;
  }

  .layout-builder-edit-page .layout-content > div > * {
    width: calc(100% - var(--left-panel-width)); /* 336px */
  }
}
