.containerize-content > .layout__region--container,
.containerize-content > .layout__region--content {
  @apply container mx-auto px-4;
}

.layout--twocol-section > .layout__region--container,
.layout--threecol-section > .layout__region--container,
.layout--fourcol-section > .layout__region--container {
  display: flex;
  flex-direction: column;
}

.layout--twocol-section > .layout__region--container > .layout__region,
.layout--threecol-section > .layout__region--container > .layout__region,
.layout--fourcol-section > .layout__region--container > .layout__region {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .layout--twocol-section > .layout__region--container,
  .layout--threecol-section > .layout__region--container,
  .layout--fourcol-section > .layout__region--container {
    flex-direction: row;
  }

  .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--container > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--container > .layout__region--second {
    width: 50%;
  }
  .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--container > .layout__region--first {
    @apply mr-2;
  }
  .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--container > .layout__region--second {
    @apply ml-2;
  }

  .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--container > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--container > .layout__region--second {
    width: 33%;
  }

  .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--container > .layout__region--second,
  .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--container > .layout__region--first {
    width: 67%;
  }

  .layout--twocol-section.layout--twocol-section--25-75 > .layout__region--container > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--75-25 > .layout__region--container > .layout__region--second {
    width: 25%;
  }

  .layout--twocol-section.layout--twocol-section--25-75 > .layout__region--container > .layout__region--second,
  .layout--twocol-section.layout--twocol-section--75-25 > .layout__region--container > .layout__region--first {
    width: 75%;
  }

  .layout--twocol-section.layout--twocol-section--58-42 > .layout__region--container > .layout__region--first {
    width: 58.333333%
  }

  .layout--twocol-section.layout--twocol-section--58-42 > .layout__region--container > .layout__region--second {
    width: 41.666667%
  }

  .layout--twocol-section.layout--twocol-section--42-58 > .layout__region--container > .layout__region--first {
    width: 41.666667%
  }

  .layout--twocol-section.layout--twocol-section--42-58 > .layout__region--container > .layout__region--second {
    width: 58.333333%
  }

  .layout--threecol-section--25-50-25 > .layout__region--container > .layout__region--first,
  .layout--threecol-section--25-50-25 > .layout__region--container > .layout__region--third,
  .layout--threecol-section--25-25-50 > .layout__region--container > .layout__region--first,
  .layout--threecol-section--25-25-50 > .layout__region--container > .layout__region--second,
  .layout--threecol-section--50-25-25 > .layout__region--container > .layout__region--second,
  .layout--threecol-section--50-25-25 > .layout__region--container > .layout__region--third {
    width: 25%;
  }
  .layout--threecol-section--25-50-25 > .layout__region--container > .layout__region--second,
  .layout--threecol-section--25-25-50 > .layout__region--container > .layout__region--third,
  .layout--threecol-section--50-25-25 > .layout__region--container > .layout__region--first {
    width: 50%;
  }
  .layout--threecol-section--33-34-33 > .layout__region--container > .layout__region--first,
  .layout--threecol-section--33-34-33 > .layout__region--container > .layout__region--third {
    width: 33%;
  }
  .layout--threecol-section--33-34-33 > .layout__region--container > .layout__region--second {
    width: 34%;
  }
}

@media screen and (min-width: 1280px) {
  .layout--fourcol-section > .layout__region--container > .layout__region {
    width: 25%;
  }
}
