<div class="container mx-auto mb-13 hidden md:block breadcrumb-wrapper">
  <nav aria-label="Breadcrumb">
    <ol class="flex items-center">
      <li>
        <a href="/" class="text-primary leading-8 border-b border-primary font-normal text-small hover:no-underline">{{ 'Home'|t }}</a>
      </li>
      {% if menuLinks %}
        {% for item in menuLinks %}
          {% if item.text != 'Home' and item.url|render|trim != '/fr' %}
            <li>
              {% if item.url.getRouteName() == '<none>' %}
                <span class="text-small leading-8 font-normal text-secondary">{{ item.text }}</span>
              {% else %}
                <a href="{{ item.url }}" class="text-primary text-small leading-8 font-normal border-b border-primary hover:no-underline">{{ item.text }}</a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ol>
  </nav>
</div>
