.breadcrumb-wrapper li::after {
  content: " | ";
  transform: skew(-26deg);
  display: inline-block;
  font-size: 14px;
  @apply text-secondary mx-8;
}

.breadcrumb-wrapper li:last-child::after {
  content: "";
}

.breadcrumb-wrapper li {
  @apply flex items-center;
}

