{% set align = (image_align == 'Left' ? 'l' : 'r') %}

<div class="relative max-w-screen-xl mx-auto">
  <div class="cta-section bg-{{ bg_color|lower }} lg:m{{ align }}-auto lg:w-1/2 lg:pl-10 px-4 py-12 sm:px-6 lg:px-8 lg:py-16 text-white">
    <div class="text-base leading-6 font-semibold uppercase tracking-wider text-gray-300">
      {% include "@atoms/text/plain-text/plain-text.twig" with {
        text_content: intro,
        blockname: 'cta-section',
        base_class: 'intro'
      } %}
    </div>

    <div class="mt-2">
      {% include "@atoms/text/headings/headings.twig" with {
        heading_level: '2',
        heading: heading,
        blockname: 'cta-section'
      } %}
    </div>

    <div class="mt-3 text-lg leading-7">
      {% include "@atoms/text/wysiwyg/wysiwyg.twig" with {
        wysiwyg_content: body,
        blockname: 'cta-section',
        base_class: 'body'
      } %}
    </div>

    <div class="mt-8">
      {% include "@atoms/links/link/link-button.twig" with {
        link_url: link_url,
        link_content: link_text,
        blockname: 'cta-section'
      } %}
    </div>
  </div>
</div>