.block--carousel-with-full-height-content .glide__slide .link {
  color: var(--link-color);
  background-color: var(--link-bg-color);
}

.block--carousel-with-full-height-content .glide__slide .image *:last-child {
  height: 475px;
}

.block--carousel-with-full-height-content .glide__bullets {
  @apply select-none inline-flex list-none justify-center;
}

.block--carousel-with-full-height-content .glide__bullet {
  @apply bg-white w-7px h-7px p-0 rounded-1/2 border-2 border-solid border-transparent transition-all duration-300 ease-in-out cursor-pointer leading-0 shadow-tiny my-0 mx-3;
}

.block--carousel-with-full-height-content .glide__bullet:focus {
  @apply outline-none;
}

.block--carousel-with-full-height-content .glide__bullet:hover,
.block--carousel-with-full-height-content .glide__bullet:focus {
  @apply border-2 border-solid border-white bg-white;
}

.block--carousel-with-full-height-content .glide__bullet--active {
  @apply relative bg-white;
}

.block--carousel-with-full-height-content .glide__bullet--active::after {
  content: '';
  transform: translate(-42%, -40%);
  @apply absolute h-4 w-4 top-0 left-0 border rounded-full border-white;
}

.block--carousel-with-full-height-content .glide__arrows {
  left: 0;
  bottom: 50px;
  padding: 0 10px;
}

.block--carousel-with-full-height-content .glide--swipeable {
  @apply cursor-grab cursor-grab-moz cursor-grab-wb;
}

.block--carousel-with-full-height-content .glide--dragging {
  @apply cursor-grabbing cursor-grabbing-moz cursor-grabbing-wb;
}

.block--carousel-with-full-height-content .glide__slide img {
  @apply w-full h-full object-cover;
}

@screen lg {
  .block--carousel-with-full-height-content .glide__slide .image *:last-child {
    height: 568px;
  }
}
