{% if storybook %}
  {% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/glidejs@2.1.0/dist/css/glide.core.min.css" rel="stylesheet">
  {% endblock %}
{% endif %}

<div class="glide relative w-full block--carousel-with-full-height-content" id="carousel-with-full-height-content">
  {# Slides #}
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {% for slide in slides %}
        <li
          class="glide__slide relative bg-white bg-cover relative"
          style="--link-color: {{ slide.link_color }}; --link-bg-color: {{ slide.link_background_color }};">
          <div class="w-full z-0">
            <div class="image w-full">
              {{ slide.image }}
            </div>
          </div>
          {% set slide_attributes = create_attribute() %}
          <div {{ slide_attributes.addClass([
            'gli__slide--content',
            'bg-secondary',
            'text-white',
            'px-10',
            'pt-6',
            'pb-8',
            'z-10',
            'w-73',
            'mx-4',
            'px-12',
            'absolute',
            'bottom-0',
            'right-0',
            'md:py-8',
            'md:w-80',
            'md:px-14',
            'md:pt-14',
            'md:pb-18',
            'md:mx-12',
          ])
          }}>
            <div>
              {% if slide.link %}
                <div class="mt-2 font-bold mb-5 pr-4">
                  {% include "@atoms/text/headings/headings.twig" with {
                    heading: slide.heading,
                    heading_level: '3',
                    additional_classes: 'heading-6'
                  } %}
                </div>
              {% endif %}
              <div class="font-regular text-semibase mb-5 md:mb-10 md:block">
                {% include "@atoms/text/plain-text/plain-text.twig" with {
                  text_content: slide.body
                } %}
              </div>

              {% if (slide.link.url) %}
                <div class="carousel-with-full-height-content__button link-button font-black font-zen text-sm uppercase">
                  <a href="{{ slide.link.url }}" class="pb-1 border-b-2 border-white hover:no-underline">{{ slide.link.title }}</a>
                </div>
              {% endif %}
            </div>
            {# Bullets #}
            <div class="glide__bullets pt-5 md:pt-10 pb-5 w-full flex justify-start" data-glide-el="controls[nav]">
              {% set bullet_classes = "glide__bullet" %}
              {% for i in range(0, slides|length - 1) %}
                <button class="glide__bullet" data-glide-dir="={{ i }}">
                  <span class="hidden">Slide bullet</span>
                </button>
              {% endfor %}
            </div>
            {# Arrows #}
            {% set prev_icon %}
              <svg class="fill-current text-accentLight hover:text-red" height="11" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.387 11.217">
                <path d="M5185.5,806.9a1.965,1.965,0,0,1,.18.143q2.622,2.617,5.24,5.239a1.21,1.21,0,0,1,.13.187l.935-.934-4.028-4.023h17.93v-1.287H5188l4.018-4.014-.96-.959a1.263,1.263,0,0,1-.13.188q-2.617,2.621-5.24,5.239a2.108,2.108,0,0,1-.18.142Z" transform="translate(-5185.504 -801.255)"/>
              </svg>
            {% endset %}

            {% set next_icon %}
              <svg class="fill-current text-accentLight hover:text-red" height="11" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.387 11.217">
                <path d="M6586.8,805.787a1.9,1.9,0,0,0-.181.142q-2.621,2.619-5.239,5.239a1.158,1.158,0,0,0-.13.188l-.936-.934,4.028-4.023h-17.93v-1.287h17.9l-4.018-4.014.96-.959a1.179,1.179,0,0,0,.131.187q2.618,2.622,5.239,5.239a1.754,1.754,0,0,0,.181.142Z" transform="translate(-6566.412 -800.139)"/>
              </svg>
            {% endset %}
            <div data-glide-el="controls" class="glide__arrows absolute flex justify-between w-full">
              <button data-glide-dir="<">{{ prev_icon }}</button>
              <button data-glide-dir=">">{{ next_icon }}</button>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  (function(){
    if (window.location.href.indexOf('/layout') == -1) {
      const toBool = function(val) {
        return val == true;
      };
      const toNumBool = function(val) {
        return val === "0" ? false : val;
      };

      const debounce = function(func, wait, immediate) {
        var timeout;

        return function executedFunction() {
          var context = this;
          var args = arguments;

          var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
          };

          var callNow = immediate && !timeout;

          clearTimeout(timeout);

          timeout = setTimeout(later, wait);

          if (callNow) func.apply(context, args);
        };
      };

      const startAt = 0;
      const autoplay = false;
      const hoverpause = true;
      const keyboard = true;
      const swipeThreshold = 80;
      const dragThreshold = 120;
      const perTouch = false;
      const touchRatio = 0.5;
      const touchAngle = 45;
      const animationDuration = 1000;
      const animationTimingFunc = "cubic-bezier(0.165, 0.840, 0.440, 1.000)";
      const peek = 0;
      const breakpoints = {};
      const throttle = 25;

      const carousel = new Glide("#carousel-with-full-height-content", {
        type: "carousel",
        startAt: startAt,
        autoplay: autoplay,
        hoverpause: hoverpause,
        keyboard: keyboard,
        swipeThreshold: swipeThreshold,
        dragThreshold: dragThreshold,
        perTouch: perTouch,
        touchRatio: touchRatio,
        touchAngle: touchAngle,
        animationDuration: animationDuration,
        animationTimingFunc: animationTimingFunc,
        peek: peek,
        breakpoints: breakpoints,
        throttle: throttle
      });

      document.querySelector('.block--carousel-with-full-height-content .glide__slides').classList.add('flex');

      let slides = [];
      let allSlides = [];

      carousel.on('mount.after', function() {
        slides = document.querySelectorAll('.block--carousel-with-full-height-content .glide__slide:not(.glide__slide--clone)');
        allSlides = document.querySelectorAll('.block--carousel-with-full-height-content .glide__slide');

        for (let i = 0; i < allSlides.length; i++) {
          allSlides[i].tabIndex = -1;
        }
        slides[startAt].tabIndex = 0;
      });

      carousel.on('run', function() {
        slides[carousel.index].tabIndex = 0;
      });

      carousel.on('move.after', function() {
        for (let i = 0; i < slides.length; i++) {
          if (i != carousel.index) {
            slides[i].tabIndex = -1;
          }
        }
      });

      carousel.mount();

      setBulletPosition();
      let bulletDebounce = debounce(function() {
        setBulletPosition();
      }, 250);

      window.addEventListener('resize', bulletDebounce);
    }
  })();
</script>
