{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% include "@organisms/cta-heading-with-button/cta-heading-with-button.twig" with {
      heading: content.field_plain_text_1|field_value,
      body: content.body|field_value,
      link_text: content.field_link.0['#title'],
      link_url: content.field_link.0['#url'],
      heading_color: hex_to_tailwind(content.field_color_1.0['#markup']),
      bg_color: hex_to_tailwind(content.field_section_background_color.0['#markup']),
      link_color: content.field_link_text_color.0['#markup'],
      link_bg_color: content.field_link_background_color.0['#markup'],
      link_color_hover: content.field_link_text_color_hover.0['#markup'],
      link_bg_color_hover: content.field_link_bg_color_hover.0['#markup'],
      pattern_type: content.field_pattern_type.0['#markup']
    } %}
  {% endblock %}
</div>
