{#
/**
 * Available variables:
 * - textarea_title - title used for label
 * - textarea_sr_only - boolean indicating if label is meant for screen-reader only
 * - textarea_key - appended to textarea id
 * - additional_attributes - array of attribute,value pairs
 *    - class - forced default to 'form-input'
 *    - name - defaults to 'textarea-' ~ textarea_key
 *    - rows - defaults to '3'
 *    - cols - defaults to '50'
 * - additional_classes - single string of additional classes
 * - base_class - the base class name
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 */
#}

{% set base_class = base_class|default('textarea') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}

{% 
  set classes = [
    base_class|clean_class,
    bem_class,
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class', 'name', 'rows', 'cols'] %}
{% set name = additional_attributes.name|default('textarea-' ~ textarea_key) %}
{% set rows = additional_attributes.rows|default('3') %}
{% set cols = additional_attributes.cols|default('50') %}

<label class="{{ classes_to_add|trim }}">
  <span class="{{ (textarea_sr_only == true) ? 'sr-only '}}inline-block mb-1">{{ textarea_title }}</span>
  <textarea
    class="form-textarea block"
    name="{{ name }}"
    rows="{{ rows }}"
    cols="{{ cols }}"
    {% for attribute, value in additional_attributes %}
      {% if attribute not in default_attributes %}
        {{ attribute }}="{{ value }}"
      {% endif %}
    {% endfor %}
  ></textarea>
</label>

