.node-type-page .field--body .formatted-text {
  @apply max-w-none;
}

.node-type-page .field--field-tags .field-container,
.node-type-page .field--field-tags .field-multiple {
  @apply flex items-center;
}

.node-type-page .field--field-tags .field-label,
.node-type-page .field--field-tags .field-content {
  @apply mr-4;
}

.node-type-page .field--field-tags .field-content {
  @apply bg-primaryLight px-2 py-1 text-accent;
}

.node-type-page .field--field-tags .field-content > * {
  @apply outline-none;
}
