{#
/**
 * Available variables:
 * - base_class - the base classname
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 * - blockquote_author - string containing authors name
 * - blockquote_cite - citation content
 * - blockquote_cite_url - citation url
 * - cite_additional_attributes - array of attribute,value pairs for citation anchor tag
 *  - default attributes:
 *    - href - defaults to '#'
 * - additional_classes - single string of additional classes
 * - additional_attributes - array of attribute,value pairs
 *  - default attributes:
 *    - class - forced default to classes array
 *
 * Available blocks:
 * - blockquote_content - used to replace the content of the blockquote with something other than text
 *   for example: A formatted text field in Drupal
 */
#}

{% set base_class = base_class|default('blockquote') %}
{% set bem_class = (blockname or modifiers) ? ((blockname ? blockname ~ '__' : '') ~ (base_class ? base_class : '') ~ (modifiers ? '--' ~ modifiers : '')) %}
{% set additional_classes = additional_classes|default('') %}

{% 
  set classes = [
    base_class|clean_class,
    bem_class,
    additional_classes
  ]
%}

{% set classes_to_add = '' %}
{% for class in classes %}
  {% set classes_to_add = (class is not empty) ? classes_to_add ~ ' ' ~ class : classes_to_add %}
{% endfor %}

{% set default_attributes = ['class'] %}
{% set cite_default_attributes = ['href'] %}

<blockquote
  class="{{ classes_to_add|trim }}"
  {% for attribute, value in additional_attributes %}
    {% if attribute not in default_attributes %}
      {{ attribute }}="{{ value }}"
    {% endif %}
  {% endfor %}
>
  <p>
    {% block blockquote_content %}
      {{ blockquote_content }}
    {% endblock %}  
  </p>
  {% if blockquote_author or blockquote_cite %}
    <footer class="mt-4">
      {% if blockquote_author %}
      <p>{{ blockquote_author }}</p>
      {% endif %}
      {% if blockquote_cite %}
      <cite>
        {% if blockquote_cite_url %}
          <a
            href="{{ blockquote_cite_url|default('#') }}"
            {% for attribute, value in cite_additional_attributes %}
              {% if attribute not in cite_default_attributes %}
                {{ attribute }}="{{ value }}"
              {% endif %}
            {% endfor %}
          >
            {{ blockquote_cite }}
          </a>
        {% else %}
          {{ blockquote_cite }}
        {% endif %}
      </cite>
      {% endif %}
    </footer>
  {% endif %}
</blockquote>
