{#
/**
 * Available variables:
 * - faqs{array of faqs}
 *   - question{string}: questions
 *   - answer{string}:   answers
 * - title{string}:      title of the FAQ section
 */
#}
{% set ar_color = arrow_color and arrow_color != "default" ? arrow_color : "gray-400" %}
{% set two_col = (checkbox ? 'gap-x-12 grid-cols-2' : '') %}
<div class="mx-auto pb-12 sm:pb-16">
  <div class="mx-auto">
    <div class="text-{{ title_color }} heading-1">
      {% include "@atoms/text/headings/headings.twig" with {
        "heading": title,
        "heading_level": 2
      } %}
    </div>
    {% if subtext %}
    <div class="mt-8 text-{{ subtext_color }} text-semibase">
      {% include "@atoms/text/plain-text/plain-text.twig" with {
        text_content: subtext
      } %}
    </div>
    {% endif %}
    <dl class="mt-8 space-y-0 divide-y border-t border-b border-menuGray">
      {% for faq in faqs %}
        {% set x_data = (default == "open") ? "{open: true}" : "{open: false}" %}
        <div x-data="{{ x_data }}">
          <dt class="text-lg">
            <button class="py-5 text-left w-full flex justify-between items-center text-gray-400 focus:outline-none" x-on:click="open = !open">
              {% set title_color = q_text_color != null ? q_text_color : "gray-900" %}
              <span class="font-bold text-{{ title_color }}">
                {{ faq.q }}
              </span>

              {% set arrow_color = arrow_color and arrow_color != "default" ? arrow_color : "gray-400" %}
              <span class="w-4 h-4 mx-2 flex-shrink-0 text-{{ arrow_color }}" :class="open ? 'hidden' : 'show'" >
                <svg class="fill-current w-4 h-4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.25 15.25" style="enable-background:new 0 0 15.25 15.25;" xml:space="preserve">
                  <path d="M13.87,8.88H1.39c-0.69,0-1.26-0.55-1.26-1.24S0.69,6.4,1.39,6.4h12.49c0.69,0,1.26,0.55,1.26,1.24S14.57,8.88,13.87,8.88z"></path>
                  <path d="M8.87,1.39v12.49c0,0.69-0.55,1.26-1.24,1.26s-1.24-0.56-1.24-1.26V1.39c0-0.69,0.55-1.26,1.24-1.26S8.87,0.7,8.87,1.39z"></path>
                </svg>
              </span>
              <span class="w-4 h-4 mx-2 flex-shrink-0 text-{{ arrow_color }}" :class="open ? 'show' : 'hidden'">
                <svg class="fill-current w-4 h-4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.25 15.25" style="enable-background:new 0 0 15.25 15.25;" xml:space="preserve">
                <path d="M13.89,8.87H1.4c-0.69,0-1.26-0.55-1.26-1.24S0.71,6.4,1.4,6.4h12.49c0.69,0,1.26,0.55,1.26,1.24S14.58,8.87,13.89,8.87z"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-6 mb-16 pr-12 grid gap-y-6 {{ two_col }}" :class="{'hidden': !open}">
            {% set text_color = a_text_color != null ? a_text_color : "gray-black" %}
                <div  class="text-semibase text-{{ text_color }} ">
                  {{ faq.a }}
                </div>
          </dd>
        </div>
      {% endfor %}
    </dl>
  </div>
</div>
