.page--user .block--system-main-block form input[type=text],
.page--user .block--system-main-block form input[type=password] {
  @apply mt-2 mb-4 py-2 px-4 block rounded-none border border-menuGray;
}

.page--user .block--system-main-block form input[type=submit] {
  @apply inline-block cursor-pointer px-0 my-3 border-b-2 border-primary font-medium text-semibase focus:outline-none text-left pb-0 w-auto;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.page--user .block--system-main-block form input[type=submit]:hover,
.page--user .block--system-main-block form input[type=submit]:focus {
  background-color: var(--button-bg-color-hover);
}
