<div class="cta-block__split-with-image lg:flex">
  <div class="split-with-image__image image lg:w-6/12 lg:pl-1/12">
    {{ image }}
  </div>

  <div class="relative lg:w-6/12 lg:pl-1/12 lg:pr-1/12 lg:flex items-center mt-10 lg:mt-0">
    <div class="cta-section">
      {% if heading %}
        {% set title_color = title_color ? title_color : 'secondary'%}
        <div class="text-{{ title_color }}">
          {% include "@atoms/text/headings/headings.twig" with {
            heading_level: '2',
            heading: heading,
            blockname: 'cta-section',
            additional_classes: 'text-heading-5-sm mb-6'
          } %}
        </div>
      {% endif %}

      <div class="text-semibase leading-7 text-{{ text_color }}">
        {% include "@atoms/text/wysiwyg/wysiwyg.twig" with {
          wysiwyg_content: body,
          blockname: 'cta-section',
          base_class: 'body'
        } %}
      </div>

    </div>
  </div>
</div>
