.cta-block__split-with-image img {
  @apply w-full h-full object-cover;
}

.cta-block__split-with-image .split-with-image__image *:last-child {
  @apply h-full;
}

.cta-block__split-with-image .cta-section__link {
  color: var(--link-color);
  background-color: var(--link-bg-color);
}

.cta-block__split-with-image .cta-section__link:hover,
.cta-block__split-with-image .cta-section__link:focus {
  color: var(--link-color-hover);
  background-color: var(--link-bg-color-hover);
}