{# Content #}
{% set links = [] %}
{% for k in content.field_link|keys %}
  {% if not (k starts with "#") %}
    {% set links = links|merge([{"title": content.field_link[k]["#title"], "url": content.field_link[k]["#url"].toString()}]) %}
  {% endif %}
{% endfor %}

{% set file = content.field_file[0] %}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% include "@organisms/link-and-file-block/link-and-file-block.twig" with {
      "links": links,
      "file": file,
      link_color: content.field_link_text_color.0['#markup']
    } %}
  {% endblock %}
</div>