{% set attributes = create_attribute() %}
{%
  set classes = [
    'contact-us__simple',
    'py-16',
    'px-4',
    'overflow-hidden',
    'sm:px-6',
    'lg:px-8',
    'lg:py-24',
    'max-w-220',
    'w-full',
    'mx-auto',
  ]
%}
<div
  {{ attributes.addClass(classes) }}
  style="--button-text-color: {{ button_text_color }}; --button-bg-color: {{ button_color }}; --button-bg-color-hover: {{ button_color_hover }};"
  >
  <div class="relative max-w-screen-xl mx-auto flex flex-col md:flex-row">
    <div class="md:max-w-71 mr-32 w-full mt-4">
      <div class="heading">
        {% include "@atoms/text/headings/headings.twig" with {
          heading: form_heading,
          heading_level: '2',
          additional_classes: 'heading-6 font-bold'
        } %}
      </div>
      <div class="mt-4">
        {% include "@atoms/text/plain-text/plain-text.twig" with {
          text_content: form_intro,
          additional_classes: 'text-semibase leading-8'
        } %}
      </div>
    </div>
    <div class="w-full md:max-w-100 mx-auto mt-10 md:mt-0">
      {{ form }}
    </div>
  </div>
</div>
