{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% 
  set classes = [
    'block',
    'block--' ~ configuration.label|clean_class,
  ]
%}

{% set fallback = content.field_spacing.0['#markup'] %}
{% set small = (content.field_spacing_small_.0['#markup']) ? content.field_spacing_small_.0['#markup'] : fallback %}
{% set med = (content.field_spacing_med_.0['#markup']) ? content.field_spacing_med_.0['#markup'] : small %}
{% set large = (content.field_spacing_large_.0['#markup']) ? content.field_spacing_large_.0['#markup'] : med %}
{% set extraLarge = (content.field_spacing_extra_large_.0['#markup']) ? content.field_spacing_extra_large_.0['#markup'] : large %}

{% spaceless %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}

    {% include "@organisms/spacer/spacer.twig" with {
      fallback: fallback,
      small: small,
      med: med,
      large: large,
      extraLarge: extraLarge
    } %}
  </div>
{% endspaceless %}

{# {{ attach_library("mount_allison/spacer") }} #}