<div
  x-data="
    {
      spacing: 0,
      breakpoints: {
        fallback: 0,
        small: 640,
        med: 768,
        large: 1024,
        extraLarge: 1280
      },
      setSpacing() {
        var screenWidth = window.innerWidth;
        if (screenWidth >= this.breakpoints.fallback && screenWidth < this.breakpoints.small) {
          return '{{ fallback }}';
        }
        else if (screenWidth >= this.breakpoints.small && screenWidth < this.breakpoints.med) {
          return '{{ small }}';
        }
        else if (screenWidth >= this.breakpoints.med && screenWidth < this.breakpoints.large) {
          return '{{ med }}';
        }
        else if (screenWidth >= this.breakpoints.large && screenWidth < this.breakpoints.extraLarge) {
          return '{{ large }}';
        }
        else {
          return '{{ extraLarge }}';
        }
      }
    }"
    :style="`min-height: ${setSpacing()};`">
</div>