{% macro menu_links(items, attributes, menu_level, show_only_first) %}
  {% import _self as menus %}
  {% if items %}
    {% for item in items %}
      {% if item.below and not show_only_first %}
        <div @click.away="flyoutMenuOpen = false" x-data="{ flyoutMenuOpen: false }" class="relative">
          {% set button_svg %}
            <svg x-state:on="Item active" x-state:off="Item inactive" class="h-5 w-5 ml-2 fill-current" x-description="Heroicon name: chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          {% endset %}
          
          <button
            class="button--level-1 button group inline-flex items-center space-x-2 text-base leading-6 font-medium border-transparent border-b-2 focus:outline-none focus:border-black transition ease-in-out duration-150 text-black"
            type="button"
            @click="flyoutMenuOpen = !flyoutMenuOpen"
            x-state:on="Item active"
            x-state:off="Item inactive">
            {{ item.title }}
            {{ button_svg }}
          </button>

          <div x-description="Flyout menu, show/hide based on flyout menu state." x-show="flyoutMenuOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1" class="absolute left-1/2 transform -translate-x-1/2 mt-3 px-2 w-screen max-w-xs sm:px-0">
            <div class="rounded-lg shadow-lg">
              <div class="rounded-lg shadow-xs overflow-hidden">
                <div class="z-20 relative grid gap-0 bg-white">
                  {% for child in item.below %}
                    <a href="{{ child.url }}" class="link link--level-2 block space-y-1 p-6 hover:bg-gray-50 transition ease-in-out duration-150 text-base leading-6 font-medium text-black border-transparent border-b-2 focus:outline-none focus:border-black">
                      {{ child.title }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <a href="{{ item.url }}" class="link link--level-1 group inline-flex items-center space-x-2 text-base leading-6 font-medium border-transparent border-b-2 focus:outline-none focus:border-black transition ease-in-out duration-150 text-black">
          {{ item.title }}
        </a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}