{# {% import _self as menus %} #}
{# {% from _self import menus %} #}
{% import "@molecules/navigation-simple-links/navigation-simple-links-macro.twig" as menus %}

{% set show_only_first = show_only_first|default(false) %}

{% if not mobile %}
<nav class="{{ 'block--' ~ menu.base_plugin_id|replace({'_': '-'}) }} hidden xl:flex space-x-10" aria-labelledby="{{ 'block-' ~ menu.id ~ '-menu' }}" id="{{ 'block-' ~ menu.id }}">
{% else %}
<nav class="{{ 'block--' ~ menu.base_plugin_id|replace({'_': '-'}) ~ '-mobile' }} flex flex-col space-y-8" aria-labelledby="{{ 'block-' ~ menu.id ~ '-menu-mobile' }}" id="{{ 'block-' ~ menu.id ~ '-mobile' }}">
{% endif %}
  {{ menus.menu_links(menu.items, attributes, 0, show_only_first) }}
  <h2 class="sr-only" id="{{ 'block-' ~ menu.id ~ '-menu' ~ (mobile ? '-mobile' : '') }}">{{ menu.name }}</h2>
</nav>
