{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{# Menus #}
{% set menu_blocks = [] %}
{% for k in content.field_footer_menus|keys %}
  {% if not (k starts with "#") %}
    {% set menu_blocks = menu_blocks|merge([{
      "menu_data": drupal_menu(content.field_footer_menus[k]["#options"].entity.id()),
      "display_name": content.field_footer_menus[k]["#title"]
    }]) %}
  {% endif %}
{% endfor %}

{% set menus = [] %}
{% for menu in menu_blocks %}
  {% set title = menu.display_name|capitalize %}

  {% set items = [] %}
  {% for i in menu.menu_data["#items"] %}
    {% set items = items|merge([{"text": i.title, "url": i.url}]) %}
  {% endfor %}

  {% set menus = menus|merge([{"title": title, "items": items}]) %}
{% endfor %}

{# Copyright Text #}
{% set copyright_text = content.field_copyright_text[0]["#context"].value %}

{# Address #}
{% set address = content.field_address %}
{% set contact = content.field_contact %}

{# Social Media Links #}
{% set social_links = [] %}
{% for k in content.field_grouped_items_unlimited|keys %}
  {% if not (k starts with "#") %}
    {% if 'internal' in content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link').getValue().0.uri %}
      {% set link = content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link').getValue().0.uri|replace({'internal:': ''}) %}
    {% elseif 'entity' in content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link').getValue().0.uri %}
      {% set node_id = content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link').getValue().0.uri|replace({'entity:node/': ''}) %}
      {% set link = path('entity.node.canonical', {'node': node_id}) %}
    {% else %}
      {% set link = content.field_grouped_items_unlimited[k]['#paragraph'].get('field_link').getValue().0.uri %}
    {% endif %}

    {% set social_links = social_links|merge(
      [
        {
          url: link,
          svg: content.field_grouped_items_unlimited[k]
        }
      ]
    ) %}
  {% endif %}
{% endfor %}

{# Logo #}
{% if content.field_footer_logo[0] %}
  {% set footer_logo = content.field_footer_logo[0] %}
{% else %}
  {% set footer_logo %}
    <img class="h-full w-full" src="{{ site_logo }}" alt="Site logo">
  {% endset %}
{% endif %}

<div{{ attributes }}>
  {% block content %}
    {% include "@organisms/footer-columns/footer-columns.twig" with {
        "menus": menus,
        "copyright_text": copyright_text,
        "address": address,
        "contact": contact,
        "social_links": social_links,
        "footer_logo": footer_logo,
    } %}
  {% endblock %}
</div>
